@charset "utf-8";
/* CSS Document */
/*theme color:#0ca2de*/
@font-face {
  font-family: 'OpenSans_Regular';
  src: url(../fonts/OpenSans-Regular.TTF);
}
@font-face {
  font-family:sans-serif;
  src: url(../fonts/micross.TTF);
}
@font-face {
    font-family: 'corporate_eregular';
    src: url('../fonts/corporate_e_regular-webfont.woff2') format('woff2'),
         url('../fonts/corporate_e_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'corporate_sbold';
    src: url('../fonts/corporate_s_bold-webfont.woff2') format('woff2'),
         url('../fonts/corporate_s_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'corporate_sregular';
    src: url('../fonts/corporate_s_regular-webfont.woff2') format('woff2'),
         url('../fonts/corporate_s_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{margin:0px; padding:0px; -ms-box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}
html{height:100%;}
body{font-family: 'corporate_sregular'; font-weight:400; font-size:14px; background:#f4f4f4; color:#000; min-height:100% !important; position:relative;}
.full_view{display: inline-block; width:100%; margin:0 auto;}
body:after{content:''; display:block;}
footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
  background:#193725;
}
footer p{display: inline-block;width: 100%; float:left; margin: 0px; padding: 5px 0px; text-align: center; color:#A2C037;}
footer p a{color: #A2C037; text-decoration: none;}
footer p a:hover{color: #4f9c3a; text-decoration: none;}

.main_con{width:100%; display:inline-block; float:left;}
.container{width:100%; max-width:90%; margin:0 auto;}
.container_w{width:100%; max-width:940px; margin:0 auto;}
.clr{clear:both;}

.pos_r{position:relative;}
.pos_a{position:absolute;}
.pos_s{position:static;}

.rad,
.ckb{cursor: pointer;user-select:none;-webkit-user-select:none;-webkit-touch-callout:none;}
.rad > input,
.ckb > input{visibility:hidden;position:absolute;}
.rad > i,
.ckb > i{display:inline-block;vertical-align:middle;width: 16px;height:16px;border-radius:50%;-ms-transition:0.2s; -webkit-transition:0.2s; transition:0.2s; box-shadow:inset 0 0 0 8px #fff;border:1px solid gray;background:gray;}
.ckb > i {width:26px;border-radius:3px;}
.rad:hover > i{box-shadow:inset 0 0 0 3px #fff;background:gray;}
.rad > input:checked + i{box-shadow:inset 0 0 0 3px #fff;background:#8e6c01;}
.ckb > input + i:after{content:"";display:block;height:12px;width:12px;margin:1px;border-radius:inherit;transition:inherit;background:gray;}
.ckb > input:checked + i:after{margin-left:11px;background:#f5883c;}

/*------------------------------------------------Admin Pannel--------------------------------------*/

.rad,
.ckb{cursor: pointer;user-select:none;-webkit-user-select:none;-webkit-touch-callout:none;}
.rad > input,
.ckb > input{visibility:hidden;position:absolute;}
.rad > i,
.ckb > i{display:inline-block;width: 16px;height:16px;border-radius:50%;-ms-transition:0.2s; -webkit-transition:0.2s; transition:0.2s; box-shadow:inset 0 0 0 8px #fff;border:1px solid #4f9c3a;background:#4f9c3a; vertical-align: sub;}
.ckb > i {width:26px;border-radius:3px;}
.rad:hover > i{box-shadow:inset 0 0 0 3px #fff;background:gray;}
.rad > input:checked + i{box-shadow:inset 0 0 0 3px #fff;background:#4f9c3a;}
.ckb > input + i:after{content:"";display:block;height:12px;width:12px;margin:1px;border-radius:inherit;transition:inherit;background:gray;}
.ckb > input:checked + i:after{margin-left:11px;background:#f5883c;}

h1,h2,h3,h4,h5,h6{display: inline-block; width: 100%; float: left; font-family: 'corporate_eregular'; font-weight: 400;}



.box .inputfile{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}
.box .inputfile+label{max-width:80%;font-size:1.25rem;font-weight:700;text-overflow:ellipsis;white-space:nowrap;cursor:pointer;display:inline-block;overflow:hidden;padding:.625rem 1.25rem; margin: 0px !important; width: auto !important;}
.box .inputfile-4+label{color:#4f9c3a}
.box .inputfile-4+label:hover,.box .input.has-focus+label,.box .input:focus+label{color:#4f9c3a}
.box .inputfile-4+label figure{width:100px;height:135px;background-color:#4f9c3a;display:block;position:relative;padding:30px;margin:0px 0px 10px}
.box .inputfile-4+label:hover figure,.box .input.has-focus+label figure,.box .input:focus+label figure{background-color:#4f9c3a}
.box .inputfile-4+label figure::after,.box .input+label figure::before{width:0;height:0;content:'';position:absolute;top:0;right:0}
.box .inputfile-4+label figure::before{border-top:20px solid #003224;border-left:20px solid #fff;}
.box .inputfile-4+label figure::after{border-bottom:20px solid #003224;border-right:20px solid #fff;}
.box .inputfile-4+label:hover figure::after,.box .input.has-focus+label figure::after,.box .input:focus+label figure::after{border-bottom-color:#003224}
.box .inputfile-4+label svg{width:100%;height:100%;fill:#ffffff;}
	
.header{display:inline-block; width:100%; float:left; margin:0px; padding:10px 0px 10px; background:#fff; -webkit-box-shadow:0px 0px 10px 1px #ccc; -moz-box-shadow:0px 0px 10px 1px #ccc; box-shadow:0px 0px 10px 1px #ccc;}
.header .logo{display:inline-block; width:100%; max-width:300px; float:left;}
.header .logo a{display:inline-block; width:100%; float:left;}
.header .logo a img{width:100%;}
.header .nav{display:inline-block; float:right;}
.header .nav ul{display:inline-block; float:left; margin:0px 0px 0px;}
.header .nav ul li{display:inline-block; float:right; list-style-type:none; padding:5px 10px;}
.header .nav ul li a{display:inline-block; text-decoration:none; color:#4f9c3a; font-size:14px; line-height:18px; position: relative; outline: none;}
.header .nav ul li a i{font-size:16px; margin-right:2px;}
.header .nav ul li a span{position: absolute; top: -5px; right: -5px; background: #f00; font-size: 10px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; width: 15px; height: 12px; line-height: 12px; text-align: center; color: #fff;}
.header .nav .notification{position:relative;}
.header .nav .notification .notify_shape{width: 15px; height: 15px; background: #fff; transform: rotate(45deg); top:42px; left:10px; position: absolute; z-index: 10000;  -webkit-box-shadow:-5px -5px 15px 0px #ccc; -moz-box-shadow:-5px -5px 15px 0px #ccc; box-shadow:-5px -5px 15px 0px #ccc;}
.header .nav .notification .notify_box{display:inline-block; width: 250px; position: absolute; z-index: 9999; top:50px; left: -100px; padding: 5px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; -webkit-box-shadow:0px 0px 10px 1px #ccc; -moz-box-shadow:0px 0px 10px 1px #ccc; box-shadow:0px 0px 10px 1px #ccc; background: #fff;}
.header .nav .notification .notify_box .notify_list{display: table; width:100%; padding: 5px 5px;}
.header .nav .notification .notify_box .notify_list .notify_img{display: table-cell; width: 50px;}
.header .nav .notification .notify_box .notify_list .notify_img img{width: 40px; height: 40px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; -webkit-box-shadow: 0px 0px 3px 1px #999; -moz-box-shadow: 0px 0px 3px 1px #999; box-shadow: 0px 0px 3px 1px #999;}
.header .nav .notification .notify_box .notify_list .notify_text{display: table-cell; vertical-align: top; font-size: 13px; line-height: 15px;}
.header .nav .notification.notification_hide .notify_shape,
.header .nav .notification.notification_hide .notify_box{display:none;}
.btn_cancel{display: inline-block; width: 100%; max-width: 150px; font-size: 14px; line-height: 18px; font-weight: bold; border-radius: 50px; padding: 7px 0px 7px; margin: 0px 0px 10px; color: #999; background: #fff; border: 1px solid #999; -webkit-transition: .3s linear; -moz-transition: .3s linear; transition: .3s linear; outline: none; text-transform: capitalize;}
.btn_cancel:hover{color: #fff; background: #999;}
.btn_submit{display: inline-block; width: 100%; max-width: 150px; font-size: 14px; line-height: 18px; font-weight: bold; border-radius: 50px; padding: 7px 0px 7px; margin: 0px 0px 10px; color: #fff; background: #4f9c3a; border: 1px solid #4f9c3a; -webkit-transition: .3s linear; -moz-transition: .3s linear; transition: .3s linear;outline: none; text-transform: capitalize;}
.btn_submit:hover{color: #4f9c3a; background: #fff;}
.admin_pannel{display:inline-block; width:100%; float:left; position:relative; overflow: hidden; padding: 0px 0px 10px;}
.admin_pannel .admin_nav{display:inline-block; width:20%; float: left; background:#fff; -webkit-box-shadow:0px 0px 10px 1px #ccc; -moz-box-shadow:0px 0px 10px 1px #ccc; box-shadow:0px 0px 10px 1px #ccc;}
.admin_pannel .admin_nav .admin_view{display:inline-block; width:100%; padding:15px 15px 15px; background:#4f9c3a; position:relative; color:#fff; text-align:center;}
.admin_pannel .admin_nav .admin_view .admin_edit{position:absolute; display:inline-block; right:10px; top:10px; z-index:9;}
.admin_pannel .admin_nav .admin_view .admin_edit i{font-size:20px; color:#fff; cursor:pointer;}
.admin_pannel .admin_nav .admin_view figure{display:block; width:100px; height:100px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; overflow:hidden; border:2px solid #000; margin:0px auto 10px;}
.admin_pannel .admin_nav .admin_view figure img{width:100px; height:100px;}
.admin_pannel .admin_nav .admin_view strong{display:inline-block; width:100%; font-size:14px; line-height:18px; font-weight:700;}
.admin_pannel .admin_nav .admin_view span{display:inline-block; width:100%; font-size:13px; line-height:15px; font-weight:400;}
.admin_pannel .admin_nav .option_list{display:inline-block; width:100%; float:left; margin:0px; padding:0px;}
.admin_pannel .admin_nav .option_list li{display:inline-block; width:100%; list-style-type:none;}
.admin_pannel .admin_nav .option_list li span{display:inline-block; width:100%; padding:10px 10px 10px 30px; font-size:14px; line-height:18px; color:#000; cursor: pointer;}
.admin_pannel .admin_nav .option_list li span i{float:right;}
.admin_pannel .admin_nav .option_list li a{display:inline-block; width:100%; text-decoration:none; padding:10px 10px 10px 30px; font-size:14px; line-height:18px; color:#000; border-bottom:1px solid #f4f3f3;}
/*.admin_pannel .admin_nav .option_list li a.active,
.admin_pannel .admin_nav .option_list li a:hover{border-left:5px solid #193725; background:#f7f7f7; text-decoration:none; font-weight:700;}*/

.admin_pannel .admin_nav .option_list .inner{display:none; padding-left: 15px;}
.admin_pannel .admin_nav .option_list .view{display: block;}


.admin_pannel .admin_nav .btn_admin_nav{position: absolute; right: -30px; top: 10px; background: #4f9c3a; text-align: center; width: 35px; height: 30px; line-height: 35px; -webkit-border-radius: 0px 5px 5px 0px; -moz-border-radius: 0px 5px 5px 0px; border-radius: 0px 5px 5px 0px; cursor: pointer; display: none;}
.admin_pannel .admin_nav .btn_admin_nav i{color: #fff; font-size: 20px;}

.admin_pannel .admin_field{display:inline-block; width:80%; float: left; padding: 30px 30px 0px;}
.admin_pannel .admin_field h2{display: inline-block; width: 100%; float:left; margin: 0px 0px 0px; padding: 0px 0px 20px; color: #000;font-size: 32px;line-height: 38px; font-weight: 700;}
.admin_pannel .admin_field .admin_form{display: inline-block; width: 100%; margin:0px; padding: 30px 20px 30px; background: #fff; -webkit-box-shadow:0px 0px 10px 1px #ccc; -moz-box-shadow:0px 0px 10px 1px #ccc; box-shadow:0px 0px 10px 1px #ccc;}
.admin_pannel .admin_field .admin_form .admin_form_container{display: inline-block; width: 100%;/* max-width: 500px; margin: 0px -50% 0px 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%);*/}
.admin_pannel .admin_field .admin_form .form-group{margin-bottom: 30px;}

.admin_pannel .admin_field .admin_form .admin_form_holder{display: inline-block; width: 100%;}
.admin_pannel .admin_field .admin_form .form-group{margin-bottom: 30px;}
.admin_pannel .admin_field .admin_form label{width: 100%; text-align: left; vertical-align: sub; font-weight: 700; margin: 8px 0px 8px;}
.admin_pannel .admin_field .admin_form select{background-color: rgb(255, 255, 255); background-image: url(../img/drop_down.png), linear-gradient(rgb(255, 255, 255) 0%,rgb(243, 243, 243) 100%); background-position: 95% center, left top; background-repeat: no-repeat, repeat; background-size: 10px, auto; -webkit-appearance:none; appearance:none;}
.admin_pannel .admin_field .admin_form .date{background-color: rgb(255, 255, 255); background-image: url(../img/calendar_icon.png); background-position: 95% center; background-repeat: no-repeat; background-size: 16px; -webkit-appearance:none; appearance:none;}
.admin_pannel .admin_field .admin_form .clock{background-color: rgb(255, 255, 255); background-image: url(../img/clock_icon.png); background-position: 95% center; background-repeat: no-repeat; background-size: 16px; -webkit-appearance:none; appearance:none;}

.driver_rating{display: inline-block; width: 100%; float: left; padding: 30px 20px 30px; background: #fff;}
.driver_rating table{width:100%; min-width: 600px;}
.driver_rating table td span{display: inline-block; width: 100%; float: left; font-size: 14px; line-height: 18px;}
.driver_rating table td [class*="fa fa-star"]{color: #4f9c3a;}
.table-hover > tbody > tr:hover{background-color: #A2C037;}
.table-hover > tbody > tr:hover td,
.table-hover > tbody > tr:hover td *{color: #fff;}
.pagination{margin:0px -50% 0px 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%);}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{background-color:#4f9c3a;border-color:#4f9c3a;}
.pagination > li > a, .pagination > li > span{color: #4f9c3a;}

.driver_list{display: inline-block; width: 100%; float: left; padding: 30px 20px 30px; background: #fff;}
.driver_list table{width:100%;}
.driver_list table td span{display: inline-block; width: 100%; float: left; font-size: 14px; line-height: 18px;}
.driver_list table td [class*="fa fa-star"]{color: #4f9c3a;}

.driver_list .notify_list{display: table; width:100%; padding: 5px 5px;}
.driver_list .notify_list .notify_img{display: table-cell; width: 50px;}
.driver_list .notify_list .notify_img img{width: 40px; height: 40px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; -webkit-box-shadow: 0px 0px 3px 1px #999; -moz-box-shadow: 0px 0px 3px 1px #999; box-shadow: 0px 0px 3px 1px #999;}
.driver_list .notify_list .notify_text{display: table-cell; vertical-align: top; font-size: 13px; line-height: 15px;}
.driver_list .notify_list .notify_text strong{display: inline-block; width: 100%; float: left; font-weight: bold;}
.driver_list .notify_list .notify_text span{display: inline-block; width: 100%; float: left;}

.client_dropdown{display: inline-block; float: right; position: relative;}
.client_dropdown .client_list{display: inline-block; margin: 0px 0px 0px; width: 150px; position: absolute; top: 40px; left: 0px; z-index: 999; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; -webkit-box-shadow: 0px 0px 10px 1px #ccc; -moz-box-shadow: 0px 0px 10px 1px #ccc; box-shadow: 0px 0px 10px 1px #ccc; background: #fff; overflow: hidden; display: none;}
.client_dropdown .client_list li{display:inline-block; list-style-type: none; width: 100%;}
.client_dropdown .client_list li a{display: inline-block; padding: 5px 10px; background: #fff; color: #4f9c3a; text-decoration: none; width: 100%;}
.client_dropdown .client_list li a:hover{background: #4f9c3a; color: #fff; text-decoration: none;}
.client_dropdown .client_list_shape{width: 15px; height: 15px; background: #fff; transform: rotate(45deg); top:31px; left:10px; position: absolute; z-index: 998;  -webkit-box-shadow:-5px -5px 15px 0px #ccc; -moz-box-shadow:-5px -5px 15px 0px #ccc; box-shadow:-5px -5px 15px 0px #ccc; display: none;}


.ved{display:inline-block; float: left; min-width: 170px;}
.ved ul{display:inline-block; margin: 0px;}
.ved ul li{display:inline-block; list-style-type: none;}
.ved ul li a{display:inline-block; text-decoration: none; padding: 5px 5px; color: #000;}
.ved ul li:nth-child(1) a i{color:#4f9c3a;}
.ved ul li:nth-child(2) a i{color:#000;}
.ved ul li:nth-child(3) a i{color:#f00;}
.add_driver{display: inline-block; text-decoration: none; color:#4f9c3a; float: right; font-size:24px; margin: 0px 0px 0px; padding: 0px 0px 10px; line-height: 28px; font-weight: 700; outline: none;}
.add_driver:hover, .add_driver:focus{text-decoration: none; color: #4f9c3a; outline: none;}
.search_driver{display: inline-block; float: right;}

.driver_detail{display: inline-block; width: 100%; float: left; margin: 0px 0px 20px; padding: 10px 0px 10px; background: #fff; -webkit-box-shadow: 0px 0px 10px 1px #ccc; -moz-box-shadow: 0px 0px 10px 1px #ccc; box-shadow: 0px 0px 10px 1px #ccc;}
.driver_detail .notify_list{display: table; width:100%; }
.driver_detail table{width:100%;}
.driver_detail table td{padding: 5px 5px;}
.driver_detail .notify_list .notify_img{display: table-cell; width: 100px;}
.driver_detail .notify_list .notify_img img{width: 80px; height: 80px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; -webkit-box-shadow: 0px 0px 3px 1px #999; -moz-box-shadow: 0px 0px 3px 1px #999; box-shadow: 0px 0px 3px 1px #999;}
.driver_detail .notify_list .notify_text{display: table-cell; vertical-align: top; font-size: 15px; line-height: 20px;}
.driver_detail .notify_list .notify_text strong{display: inline-block; width: 100%; float: left; font-weight: bold;}
.driver_detail .notify_list .notify_text span{display: inline-block; width: 100%; float: left;}
.driver_detail .notify_list .notify_text p{display: inline-block; width: 100%; float: left; margin: 0px 0px 0px; padding: 0px 0px 10px;}
.driver_detail .notify_list .notify_text [class*="fa fa-star"]{color: #4f9c3a;}
.driver_detail table td{vertical-align:top;}
.driver_detail table td strong{display: inline-block; width: 100%; float: left; font-weight: bold; font-size: 15px; line-height: 20px;}
.driver_detail table td span{display: inline-block; width: 100%; float: left; font-size: 15px; line-height: 20px;}

.booking_detail{display: inline-block; width: 100%; float: left; margin: 0px 0px 20px; padding: 10px 10px 10px; background: #fff; -webkit-box-shadow: 0px 0px 10px 1px #ccc; -moz-box-shadow: 0px 0px 10px 1px #ccc; box-shadow: 0px 0px 10px 1px #ccc;} 
.booking_detail .notify_list{display: table; width:100%; }
.booking_detail table{width:100%; min-width: 600px;}
.booking_detail table td{padding: 5px 5px 25px; vertical-align: top;}
.booking_detail .notify_block{display:inline-block; width: 100%; float: left;}
.booking_detail .notify_list .notify_img{display: table-cell; width: 50px;}
.booking_detail .notify_list .notify_img img{width: 40px; height: 40px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; -webkit-box-shadow: 0px 0px 3px 1px #999; -moz-box-shadow: 0px 0px 3px 1px #999; box-shadow: 0px 0px 3px 1px #999;}
.booking_detail .notify_list .notify_text{display: table-cell; vertical-align: top; font-size: 16px; line-height: 22px;}
.booking_detail strong{display: inline-block; width: 100%; float: left; font-weight: bold; font-size: 16px; line-height: 20px; margin: 0px; padding: 0px 0px 10px;}
.booking_detail .notify_list .notify_text span{display: inline-block; width: 100%; float: left;}
.booking_detail span{display: inline-block; width: 100%; float: left; font-size: 14px; line-height: 18px;}

.dashboard{display:inline-block; width: 100%; float: left;}
.dashboard .box.box-body{min-height:164px;}

/*-------------------------Signin--------------------------------*/
	.login{display: inline-block; width: 100%; margin: 0px; padding: 10% 0px 20px;}
	.login.registration{padding: 5% 0px 20px;}
	.login .login_box{display: inline-block; width: 100%; max-width: 600px; padding: 3% 20px 20px; background: rgba(255,255,255,0.75); position: relative; margin: 0px -50% 20px 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); -webkit-box-shadow: 0px 0px 10px 1px #ccc; -moz-box-shadow: 0px 0px 10px 1px #ccc; box-shadow: 0px 0px 10px 1px #ccc;}
	.login.registration .login_box{max-width: 1200px;}
	.login .login_box .login_icon{display: inline-block; position: absolute; text-align: center; left: 50%; top:0%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background: #4f9c3a; padding: 0px; color: #fff; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; height: 100px; width: 100px; line-height: 125px;}
	.login .login_box .login_icon i{font-size: 50px;}
	.login .btn_submit{float: right;}
	.login .form-group{margin-bottom: 30px;}
	.login .forgot_pwd, .login .register_user{display: inline-block; width: auto; float:left; margin: 0px 0px 10px; color:#4f9c3a; font-size: 12px; text-decoration: none; outline: none;}

/*-------------------------------------------Book a Ride Form-----------------------------------------*/

.ride_form{display:inline-block; width:90%; float:left; background:#fff; padding:30px 0px 20px;}
.ride_form h2{display:inline-block; width:100%; margin:0px 0px 60px; padding:0px 0px 0px; position:relative; text-align:center; z-index:1; font-family:Montserrat, sans-serif;}
.ride_form h2:after{position:absolute; content:''; width:100%; height:1px; background:silver; left:0px; top:50%; z-index:1}
.ride_form h2 span{display:inline-block; padding:0px 20px; background:#fff; position:relative; z-index:2; color:#525252; font-size:22px; line-height:36px; letter-spacing:1px; font-weight:300;}
.ride_form h3{display:inline-block; width:100%; margin:0px 0px 20px; padding:0px 0px 0px; text-align:left; font-size:15px; line-height:30px; font-weight:400; letter-spacing:1px; font-style:italic;}
.ride_form select{width:100%; background-color:rgb(255, 255, 255); background-image: url(../img/drop_down.png), linear-gradient(rgb(255, 255, 255) 0%, rgb(243, 243, 243) 100%);background-position: 95% center, left top;background-repeat: no-repeat, repeat;background-size: 10px, auto; border:1px solid rgb(204, 204, 204); color: rgb(51, 51, 51); display:block; float:none; font-family:Lato, sans-serif; font-size:13px; font-style:italic; font-weight:400; height:38px; line-height:16px; margin:0px 0px 10px 0px; padding:8px 12px 8px 12px; vertical-align:middle; text-transform:uppercase; -webkit-appearance:none; appearance:none;}
.ride_form input[type="text"]{width:100%; background:#fff; border:1px solid rgb(204, 204, 204); color: rgb(51, 51, 51); display:block; float:none; font-size:13px; font-style:italic; font-weight:400; height:38px; line-height:16px; margin:0px 0px 10px 0px; padding:8px 12px 8px 12px; vertical-align:middle; text-transform:uppercase;}
.ride_form input[type="date"]{width:100%; background:#fff url(../img/icon-calender2.png) no-repeat 97% center; border:1px solid rgb(204, 204, 204); color: rgb(51, 51, 51); display:block; float:none; font-size:13px; font-style:italic; font-weight:400; height:38px; line-height:16px; margin:0px 0px 10px 0px; padding:8px 12px 8px 12px; vertical-align:middle; text-transform:uppercase;}
.ride_form input[type="submit"]{display:inline-block; width:100%; max-width:350px; background:#f5ac11; margin-top:8px; color:#fff; padding:9px 15px; cursor:pointer; -webkit-transition:all 300ms ease; transition:all 300ms ease; font-size:14px; font-weight:700; line-height:18px; text-transform:uppercase; border:none; outline:none; font-style:italic;}
.ext_stop_1, .ext_stop_2{width:100%; float:left; display:none;}
.pickup_box{display:inline-block; width:100%; float:left;}
.pickup_time{width:100%; float:left; display:none;}



/*--------------------------------------------------Media Query-----------------------------------------*/

@media only screen and (max-width: 1299px) {
.container{width:100%; max-width:1170px; margin:0 auto;}
.ride_form{width:100%;}
}
@media only screen and (max-width: 991px) {
.admin_pannel .admin_nav{width: 200px; position: fixed; left: 0px; z-index: 999; -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%);}
.admin_pannel .admin_nav.in{-webkit-transform: translateX(0%); -moz-transform: translateX(0%); -ms-transform: translateX(0%); -o-transform: translateX(0%); transform: translateX(0%); }
.admin_pannel .admin_nav .btn_admin_nav{display: inline-block;}
.admin_pannel .admin_field{width: 100%;}
.admin_pannel .admin_nav .option_list{height: 300px;overflow-y: scroll;}
	.search_driver{float:left;}
	.search_driver .navbar-form{padding:0px; margin:0px 0px 15px;}
	.admin_pannel .admin_field{padding: 35px 15px 0px;}
	.add_driver{font-size:14px;}
	.admin_pannel .admin_field h2{padding: 0px 0px 10px;}
}


@media only screen and (max-width: 767px) {
.login{padding: 100px 0px 20px;}
.login .login_box h2{margin-top: 50px;}
.login.registration{padding: 70px 0px 20px;}
.header .nav .notification .notify_box{left:-15px;}
.driver_detail{padding:10px 10px 10px;}
	.content{padding:15px 15px !important;}
}

@media only screen and (max-width: 600px) {


}


@media only screen and (max-width: 480px) {

}
