﻿@using Limo_App.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}
<style>
   .sbn {
        display: inline-block;
        width: 100%;
        max-width: 150px;
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        border-radius: 50px;
        padding: 7px 0px 7px;
        margin: 0px 0px 10px;
        color: #fff;
        background: #4f9c3a;
        border: 1px solid #4f9c3a;
        -webkit-transition: .3s linear;
        -moz-transition: .3s linear;
        transition: .3s linear;
        outline: none;
        text-transform: capitalize;
    }
</style>


<div class="login_box">
    <div class="login_icon">
        <i class="fa fa-key" aria-hidden="true"></i>
    </div>
    <div id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-12">
                    <h2>Sign In</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label sr-only">Input group with success</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <span class="sr-only">(success)</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label sr-only">Input group with success</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "txtPassword" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <span class="sr-only">(success)</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" id="password_strength" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            Password Strength
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <p id="pwd_text">Use <span class="upper">Upper case character, </span> <span class="lower">lower case character,</span> <span class="number">numbers , </span> <span class="special_char">Special Character</span> <span class="min_8">and password should be of minimum 8 character</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a class="forgot_pwd" href="@Url.Action("ForgotPassword","Account")">Forgot Password</a>
                </div>
                <div class="col-sm-6" style="text-align: right;">

                    @*<input class="btn_submit" type="submit" disabled="disabled" value="Login" />*@
                    <input type="submit" value="Log in" class="sbn" />
                </div>
            </div>
            
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    $("#txtPassword").keyup(function () {
        debugger;
        $('#passSection').show();
        //TextBox left blank.


        //Regular Expressions.
        var regex = new Array();
        regex.push("[A-Z]"); //Uppercase Alphabet.
        regex.push("[a-z]"); //Lowercase Alphabet.
        regex.push("[0-9]"); //Digit.
        regex.push("[$!%*#?&]"); //Special Character.

        var passed = 0;

        //Validate for each Regular Expression.
        for (var i = 0; i < regex.length; i++) {
            if (new RegExp(regex[i]).test($(this).val())) {
                passed++;
            }
        }


        //Validate for length of Password.
        if (passed > 2 && $(this).val().length > 7) {
            passed++;
        }

        //Display status.
        var color = "";
        var strength = "";
        switch (passed) {
            case 0:
            case 1:
                width = "20%";
                background = "red";
                $('.btn_submit').attr('disabled', 'true');
                $('#pwd_text').css('display', 'block');
                $('.progress').css('display', 'block');
                break;
            case 2:
                width = "40%";
                background = "darkorange";
                $('.btn_submit').attr('disabled', 'true');
                $('#pwd_text').css('display', 'block');
                $('.progress').css('display', 'block');
                break;
            case 3:
                width = "60%";
                background = "Lightgreen";
                $('.btn_submit').attr('disabled', 'true');
                $('#pwd_text').css('display', 'block');
                $('.progress').css('display', 'block');
                break;
            case 4:
                width = "80%";
                background = "green";
                $('.btn_submit').attr('disabled', 'true');
                $('#pwd_text').css('display', 'block');
                $('.progress').css('display', 'block');
                break;
            case 5:
                width = "100%";
                background = "darkgreen";
                $('.btn_submit').removeAttr('disabled', 'true');
                $('#pwd_text').css('display', 'none');
                $('.progress').css('display', 'block');
                break;
        }
        $("#password_strength").css("width", width);
        $("#password_strength").css("background", background);
        if ($(this).val() == '') {
            $("#password_strength").html("Passowrd Strength");
            return;
        }
    });


    var myInput = document.getElementById("txtPassword");
    myInput.onkeyup = function () {
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            $('#pwd_text .lower').addClass('active');
        } else {
            $('#pwd_text .lower').removeClass('active');
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            $('#pwd_text .upper').addClass('active');
        } else {
            $('#pwd_text .upper').removeClass('active');
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            $('#pwd_text .number').addClass('active');
        } else {
            $('#pwd_text .number').removeClass('active');
        }

        // Validate special char
        var special_char = /[$!%*#?&]/g;
        if (myInput.value.match(special_char)) {
            $('#pwd_text .special_char').addClass('active');
        } else {
            $('#pwd_text .special_char').removeClass('active');
        }
        // Validate length
        if (myInput.value.length >= 8) {
            $('#pwd_text .min_8').addClass('active');
        } else {
            $('#pwd_text .min_8').removeClass('active');
        }
    }
</script>
