﻿
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Limo App</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i" rel="stylesheet">
    @Styles.Render("~/Content/css/font-awesome.css")
    @Styles.Render("~/Content/css/bootstrap.css")
    @Styles.Render("~/Content/css/bootstrap-extend.css")
    @Styles.Render("~/Content/css/master_style.css")
    @Styles.Render("~/Content/css/skins/_all-skins.css")
    @Styles.Render("~/Content/css/morris.css")
    @Styles.Render("~/Content/css/easy-responsive-tabs.css")
    @Styles.Render("~/Content/css/jquery.bxslider.css")
    @Styles.Render("~/Content/css/jquery-ui.css")
    @Styles.Render("~/Content/css/style.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/toastr.css")
    @Styles.Render("~/Content/css/custom.css")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <script src="~/Content/js/AccountJs/Common.js"></script>
</head>
<body>
    <article class="full_view" id="contentSection">
        <div class="main_con">
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="logo">
                                <a href="#"><img src="@Url.Content("~/Content/img/logo.png")" alt="Logo" /></a>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_con">
            <div class="admin_pannel">
                <div class="admin_nav" style="min-height:720px">
                    <div class="admin_view">
                        <div class="btn_admin_nav"><i class="fa fa-bars" aria-hidden="true"></i></div>
                        <div class="admin_edit">
                            @*@if (@User.IsInRole("CorporateClient") == false && @User.IsInRole("IndividualClient") == false && @User.IsInRole("Driver") == false)
                            {
                                <i onclick="window.location.replace('@Url.Action("AddUser", "Home")'+'?ID=' + 0)" class="fa fa-pencil" aria-hidden="true"></i>
                            }*@
                            @if (@User.IsInRole("CorporateClient"))
                            {
                                <i onclick="window.location.replace('@Url.Action("AddCorporateClient", "CorporateClient")'+'?ID=' + 0)" class="fa fa-pencil" aria-hidden="true"></i>
                            }
                            @if (@User.IsInRole("IndividualClient"))
                            {
                                <i onclick="window.location.replace('@Url.Action("AddIndividualClientList", "IndividualClient")'+'?ID=' + 0)" class="fa fa-pencil" aria-hidden="true"></i>
                            }
                            @if (@User.IsInRole("Driver"))
                            {
                                <i onclick="window.location.replace('@Url.Action("AddDriver", "Driver")'+'?ID=' + 0)" class="fa fa-pencil" aria-hidden="true"></i>
                            }

                        </div>
                        <figure><img src=@Url.Content("~/Content/img/UserImage/" + Session["profile"].ToString()) alt="admin" id="userLogo" /></figure>
                        <strong id="usernameSession"></strong>
                        @if (@User.IsInRole("CorporateClient")==false && @User.IsInRole("IndividualClient") == false && @User.IsInRole("Driver") == false)
                        {
                            <span id="userroleSession">Admin</span>
                        }
                        @if (@User.IsInRole("CorporateClient"))
                        {
                            <span id="userroleSession">CorporateClient</span>
                        }
                        @if (@User.IsInRole("IndividualClient"))
                        {
                            <span id="userroleSession">IndividualClient</span>
                        }
                        @if (@User.IsInRole("Driver"))
                        {
                            <span id="userroleSession">Driver</span>
                        }

                    </div>
                    <ul class="option_list accordion">

                        <li>
                            <a class="active" href="@Url.Action("Dashboard", "Home")">Dashboard</a>
                        </li>
                        @if (!@User.IsInRole("CorporateClient") && !@User.IsInRole("IndividualClient"))
                        {
                            <li id="driverSection">
                                <a class="toggle">Drivers <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="inner">
                                    <li>
                                        <a href="@Url.Action("DriverList", "Driver")">Drivers List</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AddDriver", "Driver")">Add new Driver</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li id="clientSection">
                            <a class="toggle" href="javascript:void(0);">Clients <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                            <ul class="inner">
                                @if (!@User.IsInRole("IndividualClient") && !@User.IsInRole("Driver"))
                                {
                                    <li>
                                        <a href="@Url.Action("CorporateClientList", "CorporateClient")">Corporate Clients List</a>
                                    </li>
                                }
                                @if (!@User.IsInRole("CorporateClient") && !@User.IsInRole("Driver"))
                                {
                                    <li>
                                        <a href="@Url.Action("IndividualClientList", "IndividualClient")">Individual Clients List</a>
                                    </li>
                                }
                                <li>
                                    <a class="toggle" href="javascript:void(0);">Add New Client <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <ul class="inner">
                                        @if (!@User.IsInRole("IndividualClient") && !@User.IsInRole("Driver"))
                                        {
                                            <li>
                                                <a href="@Url.Action("AddCorporateClient", "CorporateClient")">Corporate</a>
                                            </li>
                                            <li>
                                                <a href="add_new_banker_client.html">Banker</a>
                                            </li>
                                        }
                                        @if (!@User.IsInRole("CorporateClient") && !@User.IsInRole("Driver"))
                                        {
                                            <li>
                                                <a href="@Url.Action("AddIndividualClientList", "IndividualClient")">Individual</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        @if (!@User.IsInRole("IndividualClient") && !@User.IsInRole("Driver"))
                        {
                            <li id="bookinSection">
                                <a class="toggle" href="javascript:void(0);">Bookings <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="inner">
                                    <li>
                                        <a href="@Url.Action("AddBooking", "CorporateClient")">Add New Booking</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("BookingList", "CorporateClient")">Booking List</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("BookingDetails", "Home")">Booking Detail</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (!@User.IsInRole("IndividualClient") && !@User.IsInRole("Driver") && !@User.IsInRole("CorporateClient"))
                        {
                            <li>
                                <a class="toggle" href="javascript:void(0);">Car <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="inner" style="display: none;">
                                    <li>
                                        <a href="add_new_car.html">Add New Car</a>
                                    </li>
                                    <li>
                                        <a href="car_list.html">Car List</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (!@User.IsInRole("IndividualClient") && !@User.IsInRole("Driver"))
                        {
                            <li>
                                <a class="toggle" href="javascript:void(0);">Jobs <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="inner" style="display: none;">
                                    <li>
                                        <a href="add_new_job.html">Add New Job</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("JobList", "CorporateClient")">Job List</a>
                                    </li>
                                    <li>
                                        <a href="job_detail.html">Job Details</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (!@User.IsInRole("IndividualClient") && !@User.IsInRole("Driver") && !@User.IsInRole("CorporateClient"))
                        {
                            <li>
                                <a href="rating.html">Rating</a>
                            </li>
                        }
                        </ul>
                </div>
                <div class="admin_field">
                    @RenderBody()
                    <input type="hidden" id="hiduserid" />
                    <input type="hidden" id="hidusername" />
                    <input type="hidden" id="hiduserrole" />
                    <input type="hidden" id="hiduserlogo" />
                </div>
            </div>
        </div>
    </article>
    <footer><p>&#169; 2017 <a href="#">Daimler Fleet Management</a> All Rights Reserved</p></footer>
    @*<script src="~/Content/js/jquery.js"></script>*@
    <script src="~/Content/js/easy-responsive-tabs.js"></script>
    <script src="~/Content/js/bxslider.js"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="~/assets/vendor_components/jquery-ui/jquery-ui.js"></script>
    <!-- popper -->
    <script src="~/assets/vendor_components/popper/dist/popper.min.js"></script>
    <!-- Bootstrap 4.0-->
    <script src="~/assets/vendor_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Slimscroll -->
    <script src="~/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- FastClick -->
    <script src="~/assets/vendor_components/fastclick/lib/fastclick.js"></script>
    <!-- Sparkline -->
    <script src="~/assets/vendor_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- morris-->
    <script src="~/assets/vendor_components/raphael/raphael.js"></script>
    <script src="~/assets/vendor_components/morris.js/morris.js"></script>
    <!-- peity -->
    <script src="~/assets/vendor_components/jquery.peity/jquery.peity.js"></script>
    <!-- Qixa Admin App -->
    <script src="~/Content/js/template.js"></script>
    <!-- Qixa Admin dashboard demo (This is only for demo purposes) -->
    <script src="~/Content/js/pages/dashboard.js"></script>
    <script src="~/Content/js/navigation.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/js/notify.js"></script>
    <script src="~/Content/js/jquery.alertable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    
</body>
</html>

