﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LIMOAPP</title>
    @Styles.Render("~/Content/css/font-awesome.css")
    @Styles.Render("~/Content/css/bootstrap.css")
    @Styles.Render("~/Content/css/easy-responsive-tabs.css")
    @Styles.Render("~/Content/css/jquery.bxslider.css")
    @Styles.Render("~/Content/css/jquery-ui.css")
    @Styles.Render("~/Content/css/style.css")

</head>
<body>
    <article class="full_view">
        <div class="main_con">
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="logo">
                                <a href="#"><img src="~/Content/img/logo.png" alt="Logo" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_con">
            <div class="login">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
    </article>
    <footer><p>&#169; 2017 <a href="#">Daimler Fleet Management</a> All Rights Reserved</p></footer>
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Content/js/easy-responsive-tabs.js")
    @Scripts.Render("~/Content/js/bxslider.js")
    @Scripts.Render("~/Content/js/navigation.js")
    @Scripts.Render("~/Content/js/jquery-ui.js")
    @Scripts.Render("~/Content/js/notify.js")
    @RenderSection("scripts", required: false)
</body>
</html>
