﻿
@{
                /**/

                ViewBag.Title = "AddIndividualClientList";
                Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>

    .requierd {
        color: red;
    }
</style>
@using (Html.BeginForm("SaveIndividualClientDetail", "IndividualClient", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2 id="heading">Add New Individual Client</h2>
    <form>
        <div class="admin_form">
            <div class="admin_form_holder">
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-danger alert-dismissible" style="display:none">
                            <a href="#" class="close" data-dismiss="alert" style="top: unset;" aria-label="close">&times;</a>
                            <strong></strong> Please fill all required fields first.
                        </div>
                        <div class="alert alert-warning alert-dismissible" style="display:none">
                            <a href="#" class="close" data-dismiss="alert" style="top: unset;" aria-label="close">&times;</a>
                            <strong></strong> Email Id already Exist.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Customer Type</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control client_type">
                                        <option>Individual</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Client Logo</label>
                            </div>
                            <div class="col-sm-7">
                                <img alt="User Pic" src="" class=" img-responsive" id="ProfilePic" style="min-width: 50px; min-height: 100px; display:none">
                                <input type="file" class="form-control" name="LogoImageFile" onchange="showImage()" id="uploadLogo">
                                <input type="hidden" class="form-control" id="logoName">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>First Name<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input type="text" name="FirstName" class="form-control" id="txtName" />
                                    <input type="hidden" name="ID" class="form-control" id="hidID" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Last Name</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input type="text" name="LastName" class="form-control" id="txtLastName" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Password<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input type="text" name="Password" class="form-control" id="txtPassword" />
                                </div>
                                <div id="passSection" style="display:none">
                                    <span class="sr-only">(success)</span>
                                    <div class="progress">
                                        <div class="progress-bar" id="password_strength" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                            Password Strength
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <p id="pwd_text">Use <span class="upper">Upper case character, </span> <span class="lower">lower case character,</span> <span class="number">numbers , </span> <span class="special_char">Special Character</span> <span class="min_8">and password should be of minimum 8 character</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Zipcode<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" name="PinCode" type="text" id="txtZipcode" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Phone No.<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" name="Phone" onkeypress="return isNumberKey(event)" type="text" id="txtPhone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Select Gender<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <label class="rad">
                                            <input type="radio" name="Gender" checked=""><i></i> Male
                                        </label>
                                    </div>
                                    <div class="col-sm-6  col-md-4">
                                        <label class="rad">
                                            <input type="radio" name="Gender"><i></i> Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Email ID<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" name="Email" type="text" id="txtEmail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Country</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control" name="CountryId" id="ddlCountry">
                                        <option value="1">Singapore</option>
                                        <option value="2">India</option>
                                        <option value="3">Dubai</option>
                                        <option value="4">Russia</option>
                                        <option value="5">London</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Address<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="Address1" placeholder="Line 1" id="txtAddress1">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="Address2" placeholder="Line 2" id="txtAddress2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>City</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control" name="CityId" id="ddlCity">
                                        <option>Select City</option>
                                        <option value="1">City 1</option>
                                        <option value="2">City 2</option>
                                        <option value="3">City 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <label>State</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control" name="StateId" id="ddlState">
                                        <option>Select State</option>
                                        <option value="1">State 1</option>
                                        <option value="2">State 2</option>
                                        <option value="3">State 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6 col-sm-offset-6">
                                <input type="reset" value="Discard" class="btn_cancel">
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <input type="submit" value="save" class="btn_submit" id="btnSave">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $(function () {
            $("#txtPassword").bind("keyup", function () {
                $('#passSection').show();
                //TextBox left blank.


                //Regular Expressions.
                var regex = new Array();
                regex.push("[A-Z]"); //Uppercase Alphabet.
                regex.push("[a-z]"); //Lowercase Alphabet.
                regex.push("[0-9]"); //Digit.
                regex.push("[$!%*#?&]"); //Special Character.

                var passed = 0;

                //Validate for each Regular Expression.
                for (var i = 0; i < regex.length; i++) {
                    if (new RegExp(regex[i]).test($(this).val())) {
                        passed++;
                    }
                }


                //Validate for length of Password.
                if (passed > 2 && $(this).val().length > 7) {
                    passed++;
                }

                //Display status.
                var color = "";
                var strength = "";
                switch (passed) {
                    case 0:
                    case 1:
                        width = "20%";
                        background = "red";
                        $('.btn_submit').attr('disabled', 'true');
                        $('#pwd_text').css('display', 'block');
                        $('.progress').css('display', 'block');
                        break;
                    case 2:
                        width = "40%";
                        background = "darkorange";
                        $('.btn_submit').attr('disabled', 'true');
                        $('#pwd_text').css('display', 'block');
                        $('.progress').css('display', 'block');
                        break;
                    case 3:
                        width = "60%";
                        background = "Lightgreen";
                        $('.btn_submit').attr('disabled', 'true');
                        $('#pwd_text').css('display', 'block');
                        $('.progress').css('display', 'block');
                        break;
                    case 4:
                        width = "80%";
                        background = "green";
                        $('.btn_submit').attr('disabled', 'true');
                        $('#pwd_text').css('display', 'block');
                        $('.progress').css('display', 'block');
                        break;
                    case 5:
                        width = "100%";
                        background = "darkgreen";
                        $('.btn_submit').removeAttr('disabled', 'true');
                        $('#pwd_text').css('display', 'none');
                        $('.progress').css('display', 'block');
                        break;
                }
                $("#password_strength").css("width", width);
                $("#password_strength").css("background", background);
                if ($(this).val() == '') {
                    $("#password_strength").html("Passowrd Strength");
                    return;
                }
            });
        });

        var myInput = document.getElementById("txtPassword");
        myInput.onkeyup = function () {
            var lowerCaseLetters = /[a-z]/g;
            if (myInput.value.match(lowerCaseLetters)) {
                $('#pwd_text .lower').addClass('active');
            } else {
                $('#pwd_text .lower').removeClass('active');
            }

            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            if (myInput.value.match(upperCaseLetters)) {
                $('#pwd_text .upper').addClass('active');
            } else {
                $('#pwd_text .upper').removeClass('active');
            }

            // Validate numbers
            var numbers = /[0-9]/g;
            if (myInput.value.match(numbers)) {
                $('#pwd_text .number').addClass('active');
            } else {
                $('#pwd_text .number').removeClass('active');
            }

            // Validate special char
            var special_char = /[$!%*#?&]/g;
            if (myInput.value.match(special_char)) {
                $('#pwd_text .special_char').addClass('active');
            } else {
                $('#pwd_text .special_char').removeClass('active');
            }
            // Validate length
            if (myInput.value.length >= 8) {
                $('#pwd_text .min_8').addClass('active');
            } else {
                $('#pwd_text .min_8').removeClass('active');
            }
        }



        var getURL = "@Url.Action("getIndividualClientListByID", "IndividualClient")";
        var SaveUrl = "@Url.Action("SaveIndividualClientDetail", "IndividualClient")";
        var IsEmailCheckURl = "@Url.Action("IsEmailExist", "Home")";
        $('.btn_cancel').click(function () {
            window.location.replace("@Url.Action("IndividualClientList", "IndividualClient")");
        });
        $(document).ready(function () {
            var ID = GetParameterValues("ID");
            if (GetParameterValues("ID") !== undefined) {
                $('#heading').html('Update Individual Client');
                $.ajax({
                    url: getURL,
                    data: "ID=" + ID +"&TypeID=" + 4,
                    typr: "GET",
                    success: function (result) {
                        $('#hidID').val(result.ID);
                        $('#txtName').val(result.FirstName);
                        $('#txtLastName').val(result.LastName);
                        $('#txtPassword').val(result.Password);
                        $('#txtPhone').val(result.Phone);
                        $('#txtEmail').val(result.Email);
                        if (result.Gender === "Male") {
                            document.getElementsByName('Gender')[0].checked = true;
                        } else {
                            document.getElementsByName('Gender')[1].checked = true;
                        }
                        $('#txtLicenseNo').val(result.UserLicense);
                        $('#txtDOB').val(result.DOB);
                        $('#ddlState').val(result.StateId);
                        $('#ddlCity').val(result.CityId);
                        $('#txtZipcode').val(result.PinCode);
                        $('#txtAddress1').val(result.Address1);
                        $('#txtAddress2').val(result.Address2);
                        $('#ProfilePic').show();
                        $('#ProfilePic').attr('src', '/Content/Img/UserImage/' + result.ProfilePathImg);
                        $('#logoName').val(result.ProfilePathImg);
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        });
        $("#uploadLogo").change(function (e) {
                var fileUpload = document.getElementById("uploadLogo");
                if (typeof (fileUpload.files) !== "undefined") {
                    var size = parseFloat(fileUpload.files[0].size / 1024).toFixed(2);
                    if (parseFloat(fileUpload.files[0].size / 1024).toFixed(2) > 500) {
                        alert("Please upload maximum 500 KB file.");
                        $('#uploadLogo').val('');
                    }
                } else {
                    alert("This browser does not support HTML5.");
                }
                var _validFileExtensions = ["jpg", "jpeg", "bmp", "png", "gif"];
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    var sFileName = fileUpload.files[0].name;
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }
                if (!blnValid) {
                    alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                    $('#uploadLogo').val('');
                    return false;
                }

        });
        $("#txtEmail").blur(function () {
            var ID = null;
            if ($('#hidID').val() === '') {
                ID = null;
            } else {
                ID = $('#hidID').val();
            }
            $.ajax({
                url: IsEmailCheckURl,
                data: "ID=" + ID + "&EmailID=" + this.value,
                typr: "GET",
                success: function (result) {
                    if (result === "0") {
                        $(".alert-warning").hide();
                        $(".alert-danger").hide();
                    } else {
                        $(".alert-warning").show();
                        $(".alert-danger").hide();
                        $("#btnSave").disabled = true;
                    }
                }
            });
        });
        $('#btnSave').click(function () {
            var res = validateIndividual();
            if (res === false) {
                $(".alert-warning").hide();
                $(".alert-danger").show();
                return false;
            }
        });
        function validateIndividual() {
            var isValid = true;
            if ($('#txtName').val() === "") {
                $('#txtName').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtName').css('border-color', 'lightgrey');
            }
            if ($('#txtUserName').val() === "") {
                $('#txtUserName').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtUserName').css('border-color', 'lightgrey');
            }
            if ($('#txtPassword').val() === "") {
                $('#txtPassword').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtPassword').css('border-color', 'lightgrey');
            }
            if ($('#txtPhone').val() === "") {

                $('#txtPhone').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtPhone').css('border-color', 'lightgrey');
                var value = $('#txtPhone').val();
                if (value != null && value != "" && value != undefined) {
                    if (value.length >= 8 && value.length < 16) {

                    }
                    else {
                        alert("Phone Number must be between 8-15 Digits");
                        $('#txtPhone').css('border-color', 'Red');
                        isValid = false;
                    }
                }
                else {
                    $('#txtPhone').css('border-color', 'Red');
                    isValid = false;
                }
            }
            if ($('#txtEmail').val() === "") {
                $('#txtEmail').css('border-color', 'Red');
                isValid = false;
            }
            else {
                if (validateEmail($('#txtEmail').val()) === true) {
                    $('#txtEmail').css('border-color', 'lightgrey');
                } else {
                    alert("Email format is not correct");
                    $('#txtEmail').css('border-color', 'Red');
                    isValid = false;
                }

            }
            if ($('#ddlState').val() === "") {
                $('#ddlState').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#ddlState').css('border-color', 'lightgrey');
            }
            if ($('#ddlCity').val() === "") {
                $('#ddlCity').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#ddlCity').css('border-color', 'lightgrey');
            }
            if ($('#txtZipcode').val() === "") {
                $('#txtZipcode').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtZipcode').css('border-color', 'lightgrey');
            }
            if ($('#txtAddress1').val() === "") {
                $('#txtAddress1').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtAddress1').css('border-color', 'lightgrey');
            }

            return isValid;
        }
    </script>
}



