﻿
@{
    ViewBag.Title = "IndividualClientList";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
    #tbltechnique thead tr th{
        font-size:14px;
    }

    th {
        font-weight: bold;
        color: #000000;
        font-weight: 900 !important;
    }
    a {
        color: #f00;
    }
</style>
<div class="row">
    <div class="col-md-6 head">
        <h2>INDIVIDUAL CLIENT LIST</h2>
        <hr />
    </div>
    <div class="col-md-6 head" style="text-align:right; padding: 13px 10px 10px 0px;">
        <a class="add_driver" href="@Url.Action("AddIndividualClientList", "IndividualClient")"><i class="fa fa-plus-circle" aria-hidden="true"></i>ADD INDIVIDUAL CLIENT</a>
    </div>
</div>
<div class="driver_list">
    <div class="table-responsive">
        <table id="tbltechnique" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Client Name</th>
                    <th scope="col">Client Email</th>
                    <th scope="col">Client Phone Number</th>
                    <th scope="col">Status</th>
                    <th scope="col">Customer Type</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
</div>
<script>
    var loadURL = "@Url.Action("getIndividualClientList", "IndividualClient")";
    var deleteURL = "@Url.Action("DeleteIndividualClientDetail", "IndividualClient")";
    var editRedirectURL = "@Url.Action("AddIndividualClientList", "IndividualClient")";
    $(document).ready(function () {
        GetList();
    })
    function GetList() {
        $.ajax({
            url: loadURL + "?UserID=4",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td style="width: 35%; white-space: inherit;"><img src="/Content/Img/UserImage/' + item.ProfilePathImg + '"  style="width: 40px; border-radius: 25px">' + item.FirstName + '</td>';
                    html += '<td>' + item.Email + '</td>';
                    if (item.Phone === null) {
                        html += '<td></td>';
                    } else {
                        html += '<td>' + item.Phone + '</td>';
                    }
                    html += '<td>' + "Active" + '</td>';
                    html += '<td>' + "Individual" + '</td>';
                    html += '<td style="text-align: right; color: #f00;" ><a href="#" Title="Edit" class="grid-click-btn btnEditUser" onclick="Edit(' + item.ID + ')" ><i class="fa fa-pencil" aria-hidden="true"></i></a> | <a href="#" Title="Delete Technique" class="grid-click-btn btnDeleteUser" onclick="Delete(' + item.ID + ')" UserName=' + item.FirstName + '><i class="fa fa-trash" aria-hidden="true"></i></a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
                $("#loader").hide();
                $('#tbltechnique').dataTable();
                BindListButton();
            },
            error: function (errormessage) {
                alert(errormessage);
            }
        });
    }
    function Edit(ID) {
        window.location.replace(editRedirectURL + "?ID=" + ID);
    }
    function Delete(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            var name = $(this).attr("UserName");
            $.ajax({
                url: deleteURL,
                data: "ID=" + ID,
                typr: "GET",
                success: function (result) {
                    GetList();
                    alert('Record Deleted');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

</script>
