﻿
@{
                /**/

                ViewBag.Title = "AddIndividualClientList";
                Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>

    .requierd {
        color: red;
    }
</style>
@using (Html.BeginForm())
{
    <h2>Add New Individual Client</h2>
    <form>
        <div class="admin_form">
            <div class="admin_form_holder">
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-danger alert-dismissible" style="display:none">
                            <a href="#" class="close" data-dismiss="alert" style="top: unset;" aria-label="close">&times;</a>
                            <strong></strong> Please fill all required fields first.
                        </div>
                        <div class="alert alert-warning alert-dismissible" style="display:none">
                            <a href="#" class="close" data-dismiss="alert" style="top: unset;" aria-label="close">&times;</a>
                            <strong></strong> Email Id already Exist.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Customer Type</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control client_type">
                                        <option>Individual</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Client Logo</label>
                            </div>
                            <div class="col-sm-7">
                                <img alt="User Pic" src="" class=" img-responsive" id="ProfilePic" style="min-width: 50px; min-height: 100px; display:none">
                                <input type="file" class="form-control" onchange="showImage()" id="uploadLogo">
                                <input type="hidden" class="form-control" id="logoName">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>First Name<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtName" />
                                    <input type="hidden" class="form-control" id="hidID" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Last Name</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtLastName" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Password<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtPassword" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Zipcode<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="txtZipcode" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Phone No.<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" onkeypress="return isNumberKey(event)" type="text" id="txtPhone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Select Gender<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <label class="rad">
                                            <input type="radio" name="optradio" checked=""><i></i> Male
                                        </label>
                                    </div>
                                    <div class="col-sm-6  col-md-4">
                                        <label class="rad">
                                            <input type="radio" name="optradio"><i></i> Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Email ID<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="txtEmail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Country</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control" id="ddlCountry">
                                        <option>Singapore</option>
                                        <option>India</option>
                                        <option>Dubai</option>
                                        <option>Russia</option>
                                        <option>London</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Address<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Line 1" id="txtAddress1">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Line 2" id="txtAddress2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>City</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control" id="ddlCity">
                                        <option>Select City</option>
                                        <option value="1">City 1</option>
                                        <option value="2">City 2</option>
                                        <option value="3">City 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <label>State</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control" id="ddlState">
                                        <option>Select State</option>
                                        <option value="1">State 1</option>
                                        <option value="2">State 2</option>
                                        <option value="3">State 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6 col-sm-offset-6">
                                <input type="reset" value="Discard" class="btn_cancel">
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <input type="submit" value="save" class="btn_submit" id="btnSave">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
    var getURL = "@Url.Action("getIndividualClientListByID", "IndividualClient")";
    var SaveUrl = "@Url.Action("SaveIndividualClientDetail", "IndividualClient")";
    var IsEmailCheckURl = "@Url.Action("IsEmailExist", "Home")";
    $('.btn_cancel').click(function () {
        window.location.replace("@Url.Action("IndividualClientList", "IndividualClient")");
    });
    $(document).ready(function () {
        var ID = GetParameterValues("ID");
        if (GetParameterValues("ID") !== undefined) {
            $.ajax({
                url: getURL,
                data: "ID=" + ID +"&TypeID=" + 4,
                typr: "GET",
                success: function (result) {
                    $('#hidID').val(result.ID);
                    $('#txtName').val(result.FirstName);
                    $('#txtLastName').val(result.LastName);
                    $('#txtPassword').val(result.Password);
                    $('#txtPhone').val(result.Phone);
                    $('#txtEmail').val(result.Email);
                    if (result.Gender === "Male") {
                        document.getElementsByName('optradio')[0].checked = true;
                    } else {
                        document.getElementsByName('optradio')[1].checked = true;
                    }
                    $('#txtLicenseNo').val(result.UserLicense);
                    $('#txtDOB').val(result.DOB);
                    $('#ddlState').val(result.StateId);
                    $('#ddlCity').val(result.CityId);
                    $('#txtZipcode').val(result.PinCode);
                    $('#txtAddress1').val(result.Address1);
                    $('#txtAddress2').val(result.Address2);
                    $('#ProfilePic').show();
                    $('#ProfilePic').attr('src', '/Content/Img/UserImage/' + result.ProfilePathImg);
                    $('#logoName').val(result.ProfilePathImg);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    });
    $("#uploadLogo").change(function (e) {
            var fileUpload = document.getElementById("uploadLogo");
            if (typeof (fileUpload.files) !== "undefined") {
                var size = parseFloat(fileUpload.files[0].size / 1024).toFixed(2);
                if (parseFloat(fileUpload.files[0].size / 1024).toFixed(2) > 500) {
                    alert("Please upload maximum 500 KB file.");
                    $('#uploadLogo').val('');
                }
            } else {
                alert("This browser does not support HTML5.");
            }
            var _validFileExtensions = ["jpg", "jpeg", "bmp", "png", "gif"];
            var blnValid = false;
            for (var j = 0; j < _validFileExtensions.length; j++) {
                var sCurExtension = _validFileExtensions[j];
                var sFileName = fileUpload.files[0].name;
                if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                    blnValid = true;
                    break;
                }
            }
            if (!blnValid) {
                alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                $('#uploadLogo').val('');
                return false;
            }

    });
    $("#txtEmail").blur(function () {
        var ID = null;
        if ($('#hidID').val() === '') {
            ID = null;
        } else {
            ID = $('#hidID').val();
        }
        $.ajax({
            url: IsEmailCheckURl,
            data: "ID=" + ID + "&EmailID=" + this.value,
            typr: "GET",
            success: function (result) {
                if (result === "0") {
                    $(".alert-warning").hide();
                    $(".alert-danger").hide();
                } else {
                    $(".alert-warning").show();
                    $(".alert-danger").hide();
                    $("#btnSave").disabled = true;
                }
            }
        });
    });
    $('#btnSave').click(function () {
        var res = validateIndividual();
        if (res === false) {
            $(".alert-warning").hide();
            $(".alert-danger").show();
            return false;
        }
        $.ajax({
            url: SaveUrl,
            data: function () {
                var data = new FormData();
                data.append("ID", $('#hidID').val());
                data.append("TypeID", 4);
                data.append("FirstName", $('#txtName').val());
                data.append("LastName", $('#txtLastName').val());
                data.append("Password", $('#txtPassword').val());
                data.append("Phone", $('#txtPhone').val());
                data.append("Email", $('#txtEmail').val());
                if (document.getElementsByName('optradio')[0].checked === true) {
                    data.append("Gender", "Male");
                } else {
                    data.append("Gender", "Female");
                }
                data.append("DOB", $('#txtDOB').val());
                data.append("StateId", $('#ddlState').val());
                data.append("CityId", $('#ddlCity').val());
                data.append("CountryId", $('#ddlCountry').val());
                data.append("PinCode", $('#txtZipcode').val());
                data.append("Address1", $('#txtAddress1').val());
                data.append("Address2", $('#txtAddress2').val());
                data.append("LogoImageFile", $("#uploadLogo").get(0).files[0]);
                return data;
            }(),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            processData: false,
            contentType: false,
            success: function (result) {
                if (result !== 1) {
                    $(".alert-warning").show();
                    $(".alert-danger").hide();
                } else {
                    alert("Client Added");
                     if (GetParameterValues("ID") === 0) {
                        window.location.replace("@Url.Action("Dashboard", "Home")");
                    } else {
                         window.location.replace("@Url.Action("IndividualClientList", "IndividualClient")");
                    }
                }
            },
            error: function (errormessage) {
                window.location.replace("@Url.Action("IndividualClientList", "IndividualClient")");
            }
        });
    });
    function validateIndividual() {
        var isValid = true;
        if ($('#txtName').val() === "") {
            $('#txtName').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtName').css('border-color', 'lightgrey');
        }
        if ($('#txtUserName').val() === "") {
            $('#txtUserName').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtUserName').css('border-color', 'lightgrey');
        }
        if ($('#txtPassword').val() === "") {
            $('#txtPassword').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtPassword').css('border-color', 'lightgrey');
        }
        if ($('#txtPhone').val() === "") {

            $('#txtPhone').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtPhone').css('border-color', 'lightgrey');
            var value = $('#txtPhone').val();
            if (value != null && value != "" && value != undefined) {
                if (value.length >= 8 && value.length < 16) {

                }
                else {
                    alert("Phone Number must be between 8-15 Digits");
                    $('#txtPhone').css('border-color', 'Red');
                    isValid = false;
                }
            }
            else {
                $('#txtPhone').css('border-color', 'Red');
                isValid = false;
            }
        }
        if ($('#txtEmail').val() === "") {
            $('#txtEmail').css('border-color', 'Red');
            isValid = false;
        }
        else {
            if (validateEmail($('#txtEmail').val()) === true) {
                $('#txtEmail').css('border-color', 'lightgrey');
            } else {
                alert("Email format is not correct");
                $('#txtEmail').css('border-color', 'Red');
                isValid = false;
            }

        }
        if ($('#ddlState').val() === "") {
            $('#ddlState').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#ddlState').css('border-color', 'lightgrey');
        }
        if ($('#ddlCity').val() === "") {
            $('#ddlCity').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#ddlCity').css('border-color', 'lightgrey');
        }
        if ($('#txtZipcode').val() === "") {
            $('#txtZipcode').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtZipcode').css('border-color', 'lightgrey');
        }
        if ($('#txtAddress1').val() === "") {
            $('#txtAddress1').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#txtAddress1').css('border-color', 'lightgrey');
        }

        return isValid;
    }
    </script>
}



