﻿
@{
    ViewBag.Title = "DriverList";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@*<img class="loaderImage" src="~/Content/img/loader.gif" style="align-content:center" hidden />*@
<style>
    .container1 {
        background: white;
        padding: 10px;
        margin: 10px
    }
    .driver_list {
        display: inline-block;
        width: 100%;
        float: left;
        padding: 30px 20px 30px;
        background: #fff;
    }

    .head {
        border-bottom: 1px solid #cabdbd;
    }

    .gridtbl {
        width: 100%;
        background-color: white;
        border: 1px solid #cabdbd;
        border-radius: 5px;
        padding: 5px;
    }
    /*#tblDriver thead th {
        font-size: 14px;
    }*/
    th {
        font-weight: bold;
        color: #000000;
        font-weight: 900 !important;
    }
</style>
@*<div class="container1" style="padding: 25px;">*@
@*<div class="admin_field">*@
<div class="row">
    <div class="col-md-6">
        <h2>Drivers</h2>
    </div>
    <div class="col-md-6">
        <a class="add_driver" href="@Url.Action("AddDriver","Driver")"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Driver</a>
    </div>
</div>

<div class="driver_list">
    <div class="table-responsive" style="overflow-x:unset">
        <table id="tblDriver" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name & ID</th>
                    <th scope="col">Licence No.</th>
                    <th scope="col">City</th>
                    <th scope="col">Status</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Rating</th>
                    @*<th class="h4 ">Driver Email</th>
                    <th class="h4">Driver Phone Number</th>*@
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
</div>

        @*</div>*@
        <script>
    var loadURL = "@Url.Action("getDriverList", "Driver")";
    var deleteURL = "@Url.Action("DeleteDriverDetail", "Driver")";
    var editRedirectURL = "@Url.Action("AddDriver", "Driver")";

    $(document).ready(function () {
        GetList();
    });
    function GetList() {
        $('.loaderImage').show()
        $.ajax({
            url: loadURL,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td style="width: 35%; white-space: inherit;"><img src="/Content/Img/UserImage/' + item.ProfilePathImg + '"  style="width: 40px; border-radius: 25px">' + item.FirstName + '</td>';
                    html += '<td>' + item.DriverLicense + '</td>';
                    html += '<td>' + item.CityId + '</td>';
                    html += '<td>' + item.Status + '</td>';
                    html += '<td>' + item.Gender + '</td>';
                    html += '<td> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></td>';

                    html += '<td style="text-align: right;"><a href="#" Title="Edit Technique" class="grid-click-btn btnEditDriver"  ID=' + item.ID + ' onclick="Edit(' + item.ID + ')"><i class="fa fa-pencil" aria-hidden="true"></i></a> | <a href="#" Title="Delete Technique" class="grid-click-btn btnDeleteDriver"  onclick="Delete(' + item.ID + ')"><i class="fa fa-trash" aria-hidden="true"></i></a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
                $('#tblDriver').dataTable();
                $('.loaderImage').hide()
            },
            error: function (errormessage) {
                alert(errormessage);
            }
        });
    }

    function Edit(ID) {
        window.location.replace(editRedirectURL + "?ID=" + ID);
    }
    function Delete(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            var name = $(this).attr("UserName");
            $.ajax({
                url: deleteURL,
                data: "ID=" + ID,
                typr: "GET",
                success: function (result) {
                    GetList();
                    alert('Record Deleted');
                    //alert('Deleted client is-' + Name);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }
</script>

