﻿
@{
    ViewBag.Title = "AddBooking";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
    h4 {
        font-size: 16px;
        font-weight: bold;
        background: #f0f0f0;
        padding: 10px 10px;
    }
    .requierd {
        color: red;
    }
</style>
<script src="~/Content/js/pages/calendar.js"></script>
@using (Html.BeginForm("SaveBookingDetail", "CorporateClient", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <h2 id="heading">Add New Booking</h2>
    <form>
        <div class="admin_form">
            <div class="admin_form_container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Personal Details</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Salutation<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input type="hidden" name="BookingID" class="form-control" id="hidID" />
                                    <input type="hidden" name="Flag" id="hFlag" />
                                    <select class="form-control" name="Salutation" id="ddlSalutation">
                                        <option>SELECT SALUTATION</option>
                                        <option>MR</option>
                                        <option>MRS</option>
                                        <option>MISS</option>
                                        <option>MDM</option>
                                        <option>DR</option>
                                        <option>MS</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Passenger Name<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" name="PassengerName" id="txtPassengerName" type="text" placeholder="Passenger Name">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Country Code<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control" name="CountryCode" id="ddlCountryCode">
                                        <option value="">SELECT Country Code</option>
                                        <option value="1">AFGHANISTAN(93) </option>
                                        <option value="2">ALBANIA(355) </option>
                                        <option value="3">ALGERIA(213) </option>
                                        <option value="4">AMERICAN SAMOA(684) </option>
                                        <option value="5">ANDORRA(376) </option>
                                        <option value="6">ANGOLA(244) </option>
                                        <option value="7">ANGUILLA(809) </option>
                                        <option value="8">ANTIGUA(268) </option>
                                        <option value="9">ARGENTINA(54) </option>
                                        <option value="10">ARMENIA(374) </option>
                                        <option value="11">ARUBA(297) </option>
                                        <option value="12">ASCENSION ISLAND(247) </option>
                                        <option value="13">AUSTRALIA(61) </option>
                                        <option value="14">AUSTRALIAN EXTERNAL TERRITORIES(672) </option>
                                        <option value="15">AUSTRIA(43) </option>
                                        <option value="16">AZERBAIJAN(994) </option>
                                        <option value="17">AZORES(351) </option>
                                        <option value="18">BAHAMAS(242) </option>
                                        <option value="19">BAHRAIN(973) </option>
                                        <option value="20">BANGLADESH(880) </option>
                                        <option value="21">BARBADOS(246) </option>
                                        <option value="22">BARBUDA(268) </option>
                                        <option value="23">BELARUS(375) </option>
                                        <option value="24">BELGIUM(32) </option>
                                        <option value="25">BELIZE(501) </option>
                                        <option value="26">BENIN(229) </option>
                                        <option value="27">BERMUDA(809) </option>
                                        <option value="28">BHUTAN(975) </option>
                                        <option value="29">BOLIVIA(591) </option>
                                        <option value="30">BOSNIA(387) </option>
                                        <option value="31">BOTSWANA(267) </option>
                                        <option value="32">BRAZIL(55) </option>
                                        <option value="33">BRITISH V.I.(284) </option>
                                        <option value="34">BRITISH VIRGIN ISLANDS(284) </option>
                                        <option value="35">BRUNEI DARUSSALM(673) </option>
                                        <option value="36">BULGARIA(359) </option>
                                        <option value="37">BURKINA FASO(226) </option>
                                        <option value="38">BURUNDI(257) </option>
                                        <option value="39">CAMBODIA(855) </option>
                                        <option value="40">CAMBODIA(855) </option>
                                        <option value="41">CAMEROON(237) </option>
                                        <option value="42">CANADA(1) </option>
                                        <option value="43">CAPEVERDE ISLANDS(238) </option>
                                        <option value="44">CAPE VERDI(238) </option>
                                        <option value="45">CARIBBEAN NATIONS(1) </option>
                                        <option value="46">CARRICOU(473) </option>
                                        <option value="47">CAYMAN ISLANDS(345) </option>
                                        <option value="48">CENTRAL AFRICAN REPUBLIC(236) </option>
                                        <option value="49">CHAD(235) </option>
                                        <option value="50">CHILE(56) </option>
                                        <option value="51">CHINA(86) </option>
                                        <option value="52">COLOMBIA(57) </option>
                                        <option value="53">COMOROS AND MAYOTTE(269) </option>
                                        <option value="54">CONGO(242) </option>
                                        <option value="55">COOK ISLANDS(682) </option>
                                        <option value="56">COSTA RICA(506) </option>
                                        <option value="57">CROATIA(385) </option>
                                        <option value="58">CUBA(53) </option>
                                        <option value="59">CYPRUS(357) </option>
                                        <option value="60">CZECH REPUBLIC(420) </option>
                                        <option value="61">DENMARK(45) </option>
                                        <option value="62">DIEGO GARCIA(246) </option>
                                        <option value="63">DJIBOUTI(253) </option>
                                        <option value="64">DOMINCA(767) </option>
                                        <option value="65">DOMINICAN REPUBLIC(809) </option>
                                        <option value="66">ECUADOR(593) </option>
                                        <option value="67">EGYPT(20) </option>
                                        <option value="68">ELLICE ISLANDS(688) </option>
                                        <option value="69">ELLICE ISLANDS(688) </option>
                                        <option value="70">EL SALVADOR(503) </option>
                                        <option value="71">EQUATORIAL GUINEA(240) </option>
                                        <option value="72">ERITREA(291) </option>
                                        <option value="73">ESTONIA(372) </option>
                                        <option value="74">ETHIOPIA(251) </option>
                                        <option value="75">FALKLAND ISLANDS(500) </option>
                                        <option value="76">FAROE ISLANDS(298) </option>
                                        <option value="77">FIJI(679) </option>
                                        <option value="78">FINLAND(358) </option>
                                        <option value="79">FRANCE(33) </option>
                                        <option value="80">FRENCH ANTILLES(596) </option>
                                        <option value="81">FRENCH GUIANA(594) </option>
                                        <option value="82">GABON(241) </option>
                                        <option value="83">GAMBIA(220) </option>
                                        <option value="84">GEORGIA(995) </option>
                                        <option value="85">GERMANY(49) </option>
                                        <option value="86">GHANA(233) </option>
                                        <option value="87">GIBRALTAR(350) </option>
                                        <option value="88">GILBERT ISLANDS(686) </option>
                                        <option value="89">GREECE(30) </option>
                                        <option value="90">GREENLAND(299) </option>
                                        <option value="91">GRENADA(473) </option>
                                        <option value="92">GUAM(671) </option>
                                        <option value="93">GUATEMALA(502) </option>
                                        <option value="94">GUINEA(224) </option>
                                        <option value="95">GUINEA-BISSAU(245) </option>
                                        <option value="96">GUYANA(592) </option>
                                        <option value="97">HAITI(509) </option>
                                        <option value="98">HERCEGOVINA(387) </option>
                                        <option value="99">HONDURAS(504) </option>
                                        <option value="100">HONG KONG(852) </option>
                                        <option value="101">HUNGARY(36) </option>
                                        <option value="102">ICELAND(354) </option>
                                        <option value="103">INDIA(91) </option>
                                        <option value="104">INDONESIA(62) </option>
                                        <option value="105">IRAN(98) </option>
                                        <option value="106">IRAQ(964) </option>
                                        <option value="107">IRELAND(353) </option>
                                        <option value="108">ISRAEL(972) </option>
                                        <option value="109">ITALY(39) </option>
                                        <option value="110">IVORY COAST(225) </option>
                                        <option value="111">JAMAICA(876) </option>
                                        <option value="112">JAPAN(81) </option>
                                        <option value="113">JORDAN(962) </option>
                                        <option value="114">KAMPUCHEA(855) </option>
                                        <option value="115">KAZAKHSTAN(7) </option>
                                        <option value="116">KENYA(254) </option>
                                        <option value="117">KHMER REPUBLIC(855) </option>
                                        <option value="118">KIRIBATI REPUBLIC(686) </option>
                                        <option value="119">KUWAIT(965) </option>
                                        <option value="120">KYRGYZ REPUBLIC(996) </option>
                                        <option value="121">LAOS(856) </option>
                                        <option value="122">LATVIA(371) </option>
                                        <option value="123">LEBANON(961) </option>
                                        <option value="124">LESOTHO(266) </option>
                                        <option value="125">LIBERIA(231) </option>
                                        <option value="126">LIBYA(218) </option>
                                        <option value="127">LIECHTENSTEIN(423) </option>
                                        <option value="128">LITHUANIA(370) </option>
                                        <option value="129">LUXEMBOURG(352) </option>
                                        <option value="130">MACAO(853) </option>
                                        <option value="131">MACEDONIA(389) </option>
                                        <option value="132">MADAGASCAR(261) </option>
                                        <option value="133">MALAWI(265) </option>
                                        <option value="134">MALAYSIA(60) </option>
                                        <option value="135">MALDIVES(960) </option>
                                        <option value="136">MALI(223) </option>
                                        <option value="137">MALTA(356) </option>
                                        <option value="138">MARSHALL ISLANDS(692) </option>
                                        <option value="139">MARTINIQUE(596) </option>
                                        <option value="140">MAURITANIA(222) </option>
                                        <option value="141">MAURITIUS(230) </option>
                                        <option value="142">MAYOLTE(269) </option>
                                        <option value="143">MEXICO(52) </option>
                                        <option value="144">MICRONESIA(691) </option>
                                        <option value="145">MOLDOVA(373) </option>
                                        <option value="146">MONACO(33) </option>
                                        <option value="147">MONGOLIA(976) </option>
                                        <option value="148">MONTENEGRO(381) </option>
                                        <option value="149">MONTSERRAT(473) </option>
                                        <option value="150">MOROCCO(212) </option>
                                        <option value="151">MOZAMBIQUE(258) </option>
                                        <option value="152">MYANMAR(95) </option>
                                        <option value="153">NAMIBIA(264) </option>
                                        <option value="154">NAURU(674) </option>
                                        <option value="155">NEPAL(977) </option>
                                        <option value="156">NETHERLANDS(31) </option>
                                        <option value="157">NETHERLANDS ANTILLES(599) </option>
                                        <option value="158">NEVIS(869) </option>
                                        <option value="159">NEW CALEDONIA(687) </option>
                                        <option value="160">NEW HEBRIDES(678) </option>
                                        <option value="161">NEW HEBRIDES(678) </option>
                                        <option value="162">NEW ZEALAND(64) </option>
                                        <option value="163">NICARAGUA(505) </option>
                                        <option value="164">NIGER(227) </option>
                                        <option value="165">NIGERIA(234) </option>
                                        <option value="166">NIUE(683) </option>
                                        <option value="167">NORTH KOREA(850) </option>
                                        <option value="168">NORTH MARIANA ISLANDS(1) </option>
                                        <option value="169">NORTH YEMEN(967) </option>
                                        <option value="170">NORWAY(47) </option>
                                        <option value="171">OMAN(968) </option>
                                        <option value="172">PAKISTAN(92) </option>
                                        <option value="173">PALAU(680) </option>
                                        <option value="174">PANAMA(507) </option>
                                        <option value="175">PAPUA NEW GUINEA(675) </option>
                                        <option value="176">PARAGUAY(595) </option>
                                        <option value="177">PERU(51) </option>
                                        <option value="178">PHILIPPINES(63) </option>
                                        <option value="179">POLAND(48) </option>
                                        <option value="180">PORTUGAL(351) </option>
                                        <option value="181">PUERTO RICO(1) </option>
                                        <option value="182">QATAR(974) </option>
                                        <option value="183">REUNION(262) </option>
                                        <option value="184">ROMANIA(40) </option>
                                        <option value="185">RUSSIA(7) </option>
                                        <option value="186">RWANDA(250) </option>
                                        <option value="187">SAINT HELENA(290) </option>
                                        <option value="188">SAINT KITTS AND NEVIS(869) </option>
                                        <option value="189">SAINT PIERRE AND MIQUELON(508) </option>
                                        <option value="190">SAIPAN(1) </option>
                                        <option value="191">SAIPAN(670) </option>
                                        <option value="192">SAN MARINO(378) </option>
                                        <option value="193">SAO TOME AND PRINCIPE(239) </option>
                                        <option value="194">SAUDI ARABIA(966) </option>
                                        <option value="195">SENEGAL(221) </option>
                                        <option value="196">SERBIA(381) </option>
                                        <option value="197">SEYCHELLES(248) </option>
                                        <option value="198">SIERRA LEONE(232) </option>
                                        <option value="199" selected="selected" value="">SINGAPORE(65) </option>
                                        <option value="200">SINGAPORE(65) </option>
                                        <option value="201">SLOVAKIA(421) </option>
                                        <option value="202">SLOVENIA(386) </option>
                                        <option value="203">SOLOMON ISLANDS(677) </option>
                                        <option value="204">SOMALIA(252) </option>
                                        <option value="205">SOUTH AFRICA(27) </option>
                                        <option value="206">SOUTH KOREA(82) </option>
                                        <option value="207">SPAIN(34) </option>
                                        <option value="208">SRI LANKA(94) </option>
                                        <option value="209">SUDAN(249) </option>
                                        <option value="210">SURINAME(597) </option>
                                        <option value="211">SWAZILAND(268) </option>
                                        <option value="212">SWEDEN(46) </option>
                                        <option value="213">SWITZERLAND(41) </option>
                                        <option value="214">SYRIA(963) </option>
                                        <option value="215">TAHITI(689) </option>
                                        <option value="216">TAIWAN(886) </option>
                                        <option value="217">TAJIKISTAN(7) </option>
                                        <option value="218">TANZANIA(255) </option>
                                        <option value="219">THAILAND(66) </option>
                                        <option value="220">TOGO(228) </option>
                                        <option value="221">TOKELAU(690) </option>
                                        <option value="222">TONGA(676) </option>
                                        <option value="223">TRINIDAD AND TOBAGO(1) </option>
                                        <option value="224">TUNISIA(216) </option>
                                        <option value="225">TURKEY(90) </option>
                                        <option value="226">TURKMENISTAN(993) </option>
                                        <option value="227">UGANDA(256) </option>
                                        <option value="228">UKRAINE(380) </option>
                                        <option value="229">UNITED ARAB EMIRATES(971) </option>
                                        <option value="230">UNITED KINGDOM(44) </option>
                                        <option value="231">URUGUAY(598) </option>
                                        <option value="232">USA(1) </option>
                                        <option value="233">UZBEKISTAN(7) </option>
                                        <option value="234">VATICAN CITY(39) </option>
                                        <option value="235">VENEZUELA(58) </option>
                                        <option value="236">VIET NAM(84) </option>
                                        <option value="237">VIRGIN ISLANDS(1340) </option>
                                        <option value="238">WALLIS AND FUTUNA(681) </option>
                                        <option value="239">WESTERN SAMOA(685) </option>
                                        <option value="240">YEMEN(381) </option>
                                        <option value="241">ZAIRE(243) </option>
                                        <option value="242">ZAMBIA(260) </option>
                                        <option value="243">ZANZIBAR(255) </option>
                                        <option value="244">ZIMBABWE(263) </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Contact Number<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="ContactNumber" id="txtContactNumber" placeholder="Contact Number">
                                        <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Email Address<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="EmailID" id="txtEmail" placeholder="Email Address">
                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Reservation Details</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Country</label>
                            </div>
                            <div class="col-sm-7">

                                <div class="form-group">
                                    <select class="form-control" name="CountryID" id="ddlCountryID" placeholder="Select Country">
                                        <option>Select Country</option>
                                        <option value="HONG KONG">HONG KONG(852)</option>
                                        <option value="SINGAPORE">SINGAPORE(65)</option>
                                        <option value="TAIWAN">TAIWAN(886)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>City</label>
                            </div>
                            <div class="col-sm-7">

                                <div class="form-group">
                                    <select class="form-control" name="CityID" id="ddlCityID" placeholder="Select Country">
                                        <option>Select City</option>
                                        <option value="HONG KONG">HONG KONG</option>
                                        <option value="SINGAPORE">SINGAPORE</option>
                                        <option value="TAIWAN">TAIWAN</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Service<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control serives" name="Service" id="ddlService" placeholder="Select Service">
                                        <option value="service">Select Service</option>
                                        <option value="arrival">ARRIVAL</option>
                                        <option value="departure">DEPARTURE</option>
                                        <option value="hourly">HOURLY</option>
                                        <option value="transfer">TRANSFER</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Car<span class="requierd">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control" name="Car" id="ddlCar">
                                        <option value="AUDI A6" selected="selected">AUDI A6</option>
                                        <option value="AUDI A3">AUDI A3</option>
                                        <option value="AUDI A8L">AUDI A8L</option>
                                        <option value="MERCEDES S-CLASS">MERCEDES S-CLASS</option>
                                        <option value="MERCEDES VITO">MERCEDES VITO</option>
                                        <option value="TOYOTA HIGH-ROOF">TOYOTA HIGH-ROOF</option>
                                        <option value="HIGH-ROOF (WHEELCHAIR)">HIGH-ROOF (WHEELCHAIR)</option>
                                        <option value="MINI BUS (13 SEATER)">MINI BUS (13 SEATER)</option>
                                        <option value="MINI BUS (19 SEATER)">MINI BUS (19 SEATER)</option>
                                        <option value="BUS (23 SEATER)">BUS (23 SEATER)</option>
                                        <option value="BUS (45 SEATER)">BUS (45 SEATER)</option>
                                        <option value="MERCEDES E-CLASS">MERCEDES E-CLASS</option>
                                        <option value="TOYOTA ALPHARD">TOYOTA ALPHARD</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Airport</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control" name="Airport" id="ddlAirport" placeholder="Select Country">
                                        <option>Select Airport</option>
                                        <option value="SELETAR AIRPORT">SELETAR AIRPORT</option>
                                        <option value="CHANGI AIRPORT">CHANGI AIRPORT</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Date , Time and Destination</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Date</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    @*<input class="form-control date datepicker hasDatepicker" name="Date" type="date" placeholder="Select your Booking Date" id="dp1546794304473">*@
                                    <input class="form-control" name="Date" type="date" placeholder="dd/mm/yyyy" id="txtDate" max="2050-01-30" min="1949-01-30">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Flight Number</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="FlightNumber" id="txtFlightNumber" placeholder="Flight e.g. SG1234">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row departure_time">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Departure Time</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select class="form-control" name="DepartureTimeHH" id="ddlDepartureTimeHH">
                                                <option>HH</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                                <option value="5">05</option>
                                                <option value="6">06</option>
                                                <option value="7">07</option>
                                                <option value="8">08</option>
                                                <option value="9">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select class="form-control" name="DepartureTimeMM" id="ddlDepartureTimeMM">
                                                <option>MM</option>
                                                <option value="1">00:00</option>
                                                <option value="2">00:05</option>
                                                <option value="3">00:10</option>
                                                <option value="4">00:15</option>
                                                <option value="5">00:20</option>
                                                <option value="6">00:25</option>
                                                <option value="7">00:30</option>
                                                <option value="8">00:35</option>
                                                <option value="9">00:40</option>
                                                <option value="10">00:45</option>
                                                <option value="11">00:50</option>
                                                <option value="12">00:55</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Pickup Time</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select class="form-control" name="PickupTimeHH" id="ddlPickupTimeHH">
                                                <option>HH</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                                <option value="5">05</option>
                                                <option value="6">06</option>
                                                <option value="7">07</option>
                                                <option value="8">08</option>
                                                <option value="9">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select class="form-control" name="PickupTimeMM" id="ddlPickupTimeMM">
                                                <option>MM</option>
                                                <option value="1">00:00</option>
                                                <option value="2">00:05</option>
                                                <option value="3">00:10</option>
                                                <option value="4">00:15</option>
                                                <option value="5">00:20</option>
                                                <option value="6">00:25</option>
                                                <option value="7">00:30</option>
                                                <option value="8">00:35</option>
                                                <option value="9">00:40</option>
                                                <option value="10">00:45</option>
                                                <option value="11">00:50</option>
                                                <option value="12">00:55</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>No. of Passengers</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="No. of Passengers" name="NumberOfPassengers" id="txtNumberOfPassengers">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>No. of Luggage</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="No. of Luggage" name="NumberOfLuggage" id="txtNumberOfLuggage">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Extra Stop</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control extra_stop" name="ExtraStop" id="ddlExtraStop">
                                        <option selected="selected" value="stop_0">Extra Stop 0</option>
                                        <option value="stop_1">Extra Stop 1</option>
                                        <option value="stop_2">Extra Stop 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pickup_location" style="display:none;">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Pickup Location</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Pickup Location" name="PickupLocation" id="txtPickupLocation">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hourly_block" style="display:none;">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Number of Hours</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control" name="NumberOfHours" id="ddlNumberOfHours">
                                        <option selected="selected" value="stop_0">Select Hours</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Number of Days</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <select class="form-control" name="NumberOfDays" id="ddlNumberOfDays">
                                        <option selected="selected" value="stop_0">Select Days</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="extra_stop_0">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Destination Location</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input class="form-control" name="DestinationLocation" id="txtDestinationLocation" type="text" placeholder="Destination Location">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Destination Postal Code</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input class="form-control" name="DestinationPostalCode" id="txtDestinationPostalCode" type="text" placeholder="Destination Postal Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra_stop_1" style="display:none;">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Extra Stop 1</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input class="form-control" name="ExtraStop" id="txtExtraStop" type="text" placeholder="Extra Stop 1 Location">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Extra Stop 1 Postal Code</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input class="form-control" name="CountryCode" id="ddlCountryCode" type="text" placeholder="Extra Stop 1 Postal Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra_stop_2" style="display:none;">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Extra Stop 2</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input class="form-control" name="CountryCode" id="ddlCountryCode" type="text" placeholder="Extra Stop 2 Location">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Extra Stop 2 Postal Code</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input class="form-control" name="CountryCode" id="ddlCountryCode" type="text" placeholder="Extra Stop 2 Postal Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Remarks</label>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" name="Remark" id="txtRemark" type="text" placeholder="Remarks">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <input type="reset" value="Discard" class="btn btn_cancel">
                        <input type="submit" id="btnSave" value="Book" class="btn btn_submit">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript">

        $(".extra_stop").on('change', function () {
            var es = $(".extra_stop").val();
            if (es == 'stop_0') {
                $(".extra_stop_0").css('display', 'block');
                $(".extra_stop_1, .extra_stop_2").css('display', 'none');
            }
            if (es == 'stop_1') {
                $(".extra_stop_0, .extra_stop_1").css('display', 'block');
                $(".extra_stop_2").css('display', 'none');
            }
            if (es == 'stop_2') {
                $(".extra_stop_0, .extra_stop_1, .extra_stop_2").css('display', 'block');
            }
        });
        $(".serives").on('change', function () {
            var ss = $(".serives").val();
            if (ss == 'service') {
                $(".pickup_location,.departure_time,.hourly_block").css('display', 'none');
            }
            if (ss == 'arrival') {
                $(".pickup_location").css('display', 'block');
                $(".departure_time,.hourly_block").css('display', 'none');
            }
            if (ss == 'departure') {
                $(".departure_time").css('display', 'block');
                $(".pickup_location,.hourly_block").css('display', 'none');
            }
            if (ss == 'hourly') {
                $(".hourly_block").css('display', 'block');
                $(".pickup_location,.departure_time").css('display', 'none');
            }
            if (ss == 'transfer') {
                $(".pickup_location,.departure_time,.hourly_block").css('display', 'none');
            }
        });
        var SaveUrl = "@Url.Action("SaveBookingDetail", "CorporateClient")";
    var IsEmailCheckURl = "@Url.Action("IsEmailExist", "CorporateClient")";
    var DriverListURL = "@Url.Action("BookingList", "CorporateClient")";
    $('.btn_cancel').click(function () {
        window.location.replace(DriverListURL);
    });
    $(function () {
        var today = new Date();

        var dd = today.getDate() - 1;
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        var minyy = today.getFullYear() - 70;
        var backday = minyy + '-' + mm + '-' + dd;
        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("txtDOB").setAttribute("max", today);
        document.getElementById("txtDOB").setAttribute("min", backday);
    });
    var getURL = "@Url.Action("getBookingListByID", "CorporateClient")";
    $(document).ready(function () {
        var ID = GetParameterValues("ID");
        $('#hFlag').val(GetParameterValues("ID"));
        if (GetParameterValues("ID") !== undefined) {
            $('#heading').html('Update Booking');
            $('#email_pass').hide();
            $.ajax({
                url: getURL,
                data: "ID=" + ID,
                typr: "GET",
                success: function (result) {
                    debugger;
                    $('#hidID').val(result.BookingID);
                    $('#ddlSalutation').val(result.Salutation);
                    $('#txtPassengerName').val(result.PassengerName);
                    $('#txtCountryCode').val(result.CountryCode);
                    $('#txtContactNumber').val(result.ContactNumber);
                    $('#txtEmail').val(result.EmailID);
                    $('#ddlCountryID').val(result.CountryID);
                    $('#ddlService').val(result.Service)
                    $('#ddlCityID').val(result.CityID);
                    $('#ddlService').val(result.Service);
                    $('#ddlCar').val(result.Car);

                    $('#ddlAirport').val(result.Airport);
                    $('#txtDate').val(result.Date);
                    $('#ddlFlightNumber').val(result.FlightNumber);
                    $('#ddlDepartureTimeHH').val(result.DepartureTimeHH);
                    $('#ddlDepartureTimeMM').val(result.DepartureTimeMM);
                    $('#ddlPickupTimeHH').val(result.PickupTimeHH);
                    $('#ddlPickupTimeMM').val(result.PickupTimeMM);
                    $('#txtNumberOfPassengers').val(result.NumberOfPassengers);
                    $('#txtNumberOfLuggage').val(result.NumberOfLuggage);
                    $('#ddlExtraStop').val(result.ExtraStop);
                    $('#txtDestinationLocation').val(result.DestinationLocation);
                    $('#txtDestinationPostalCode').val(result.DestinationPostalCode);
                    $('#txtPickupLocation').val(result.PickupLocation);
                    $('#ddlNumberOfHours').val(result.NumberOfHours);
                    $('#ddlNumberOfDays').val(result.NumberOfDays);
                    $('#txtRemark').val(result.Remark);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        });
        $('#btnSave').click(function () {
            var res = validate();
            if (res === false) {
                $(".alert-warning").hide();
                $(".alert-danger").show();
                return false;
            }
        });
        function validate() {
            var isValid = true;
            if ($('#ddlSalutation').val() === "SELECT SALUTATION") {
                $('#ddlSalutation').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#ddlSalutation').css('border-color', 'lightgrey');
            }
            if ($('#txtPassengerName').val() === "") {
                $('#txtPassengerName').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtPassengerName').css('border-color', 'lightgrey');
            }

            if ($('#ddlCountryCode').val() === "") {
                $('#ddlCountryCode').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#ddlCountryCode').css('border-color', 'lightgrey');
            }
            if ($('#txtContactNumber').val() === "") {

                $('#txtContactNumber').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#txtContactNumber').css('border-color', 'lightgrey');
                var value = $('#txtContactNumber').val();
                if (value != null && value != "" && value != undefined) {
                    if (value.length >= 8 && value.length < 16) {

                    }
                    else {
                        alert("Phone Number must be between 8-15 Digits");
                        $('#txtContactNumber').css('border-color', 'Red');
                        isValid = false;
                    }
                }
                else {
                    $('#txtContactNumber').css('border-color', 'Red');
                    isValid = false;
                }
            }
            if ($('#txtEmail').val() === "") {
                $('#txtEmail').css('border-color', 'Red');
                isValid = false;
            }
            else {
                if (validateEmail($('#txtEmail').val()) === true) {
                    $('#txtEmail').css('border-color', 'lightgrey');
                } else {
                    alert("Email format is not correct");
                    $('#txtEmail').css('border-color', 'Red');
                    isValid = false;
                }

            }
            
            if ($('#ddlCar').val() ==="0") {
                $('#ddlCar').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#ddlCar').css('border-color', 'lightgrey');
            }
            if ($('#ddlService').val() === "service") {
                $('#ddlService').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#ddlService').css('border-color', 'lightgrey');
            }
            if ($('#ddlAirport').val() === "") {
                $('#ddlAirport').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#ddlAirport').css('border-color', 'lightgrey');
            }

            return isValid;
        }

    </script>
}
