﻿
@{
    ViewBag.Title = "AddBankUser";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="admin_field">
    <h2>Add Banker</h2>
    <form>
        <div class="admin_form">
            <div class="admin_form_holder">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label sr-only">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label sr-only">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input id="banker_avtar" type="file" placeholder="Add profile picture">
                                    <label for="banker_avtar"><i class="fa fa-user"></i> Add Banker Avatar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label sr-only">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Company Name">
                            </div>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label sr-only">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label sr-only">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Phone No.">
                            </div>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                    <!--<div class="col-sm-6">
                        <label>Upload Your Image</label>
                        <div class="form-group">
                            <div class="box">
                            <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple />
                            <label for="file-5"><figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg></figure> <span>Choose a file&hellip;</span></label>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label sr-only">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Wallet Amount">
                            </div>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label sr-only">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Address">
                            </div>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label sr-only">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-map-pin" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Pincode">
                            </div>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label sr-only">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-map" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label sr-only">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-map" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="State">
                            </div>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label sr-only">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-globe" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Country">
                            </div>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label sr-only">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label sr-only">Input group with success</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" placeholder="Repeat Password">
                            </div>
                            <span class="sr-only">(success)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6 text-right">
                        <input class="btn_submit" type="submit" value="Add Banker">
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

