﻿
@{
    ViewBag.Title = "BookingList";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i" rel="stylesheet">

<style>

    .container1 {
        background: white;
        padding: 10px;
        margin: 10px
    }

    .head {
        border-bottom: 1px solid #cabdbd;
    }

    .gridtbl {
        width: 100%;
        background-color: white;
        border: 1px solid #cabdbd;
        border-radius: 5px;
        padding: 5px;
    }

    th {
        font-weight: bold;
        color: #000000;
        font-weight: 900 !important;
    }

    
</style>
@using (Html.BeginForm())
{
    <div class="">
        <div class="row">
            <div class="col-md-6">
                <h2>Booking History</h2>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-xs-6"></div>
                    <div class="col-sm-6 col-xs-6">
                        <a class="add_driver" href="@Url.Action("AddBooking", "CorporateClient")"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Booking</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="driver_list">
            <div class="table-responsive" style="overflow-x:unset">
                <table id="tblBooking" class="table table-hover table gridtbl">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Driver Name</th>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col">Date &amp; Time</th>
                            <th scope="col">Car</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="tbody"></tbody>
                </table>
            </div>
        </div>

    </div>
}
<script>
    var loadURL = "@Url.Action("getBookingList", "CorporateClient")";
    var deleteURL = "@Url.Action("DeleteBookingDetail", "CorporateClient")";
    var editRedirectURL = "@Url.Action("AddBooking", "CorporateClient")";

    $(document).ready(function () {
        GetList();
    });
    function GetList() {
        $.ajax({
            url: loadURL,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td style="width: 35%; white-space: inherit;">' + item.PassengerName + '</td>';
                    html += '<td>' + item.DriverFullName + '</td>';
                    html += '<td>' + item.Airport + '</td>';
                    html += '<td>' + item.DestinationLocation + '</td>';
                    html += '<td>' + item.Date + '</td>';
                    html += '<td>' + item.Car + '</td>';
                    html += '<td>' + '<span class="badge badge-warning">Scheduled</span>' + '</td>';
                    html += '<td style="text-align: right;"><a href="#" Title="Edit" class="grid-click-btn btnEditUser" onclick="Edit(' + item.BookingID + ')"  ID=' + item.BookingID + ' ><i class="fa fa-pencil fa-1x" aria-hidden="true"></i></a> | <a href="#" Title="Delete Technique" class="grid-click-btn btnDeleteUser" onclick="Delete(' + item.BookingID + ')" ID=' + item.BookingID + ' UserName=' + item.FirstName + '><i class="fa fa-trash-o fa-1x" aria-hidden="true"></i></a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
                $('#tblBooking').dataTable();
            },
            error: function (errormessage) {
                alert(errormessage);
            }
        });
    }
    function Edit(ID) {
            window.location.replace(editRedirectURL + "?ID=" + ID);
    }
    function Delete(ID, Name) {
            var ans = confirm("Are you sure you want to delete this Record?");
            if (ans) {
                $.ajax({
                    url: deleteURL,
                    data: "ID=" + ID,
                    typr: "GET",
                    success: function (result) {
                        alert('Record Deleted');
                        GetList();
                        //alert('Deleted client is-' + Name);
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
    }

</script>


