﻿
@{
    ViewBag.Title = "jobList";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
    th {
        font-weight: bold;
        color: #000000;
        font-weight: 900 !important;
    }
</style>
<script>
     var loadURL = "@Url.Action("getJobList", "CorporateClient")";
    $(document).ready(function () {
        GetList();
    });
    function GetList() {
        $.ajax({
            url: loadURL,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<th scope="row"><input type="checkbox" /></th>';
                    html += '<td>' + item.BookingId + '</td>';
                    html += '<td>' + item.AssignTo + '</td>';
                    html += '<td>' + item.ClientName + '</td>';
                    html += '<td>' + item.DateAndTime + '</td>';
                    html += '<td>' + item.JobStatus + '</td>';
                    html += '<td>' + item.Car + '</td>';
                    html += '<td><div class="ved"><ul><li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> View</a></li><li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Assign</a></li></ul></div></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
                $('#tblJobList').dataTable();
            },
            error: function (errormessage) {
                alert(errormessage);
            }
        });
    }
</script>
<div>
    <div >
        <div class="row">
            <div class="col-md-6">
                <h2>Job List</h2>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-xs-6"></div>
                    <div class="col-sm-6 col-xs-6">
                        <a class="add_driver" href="@Url.Action("AddBooking", "CorporateClient")"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Job</a>
                    </div>
                </div>
            </div>
        </div>




        <div class="driver_list">
            <div >
                <table id="tblJobList" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">
                                <input type="checkbox" />
                            </th>
                            <th scope="col">Booking ID</th>
                            <th scope="col">Assigned to</th>
                            <th scope="col">Client Name</th>
                            <th scope="col">Date & Time</th>
                            <th scope="col">Status</th>
                            <th scope="col">Car</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <!--  <tbody>
                          <tr>
                              <th scope="row"><input type="checkbox" /></th>
                              <td>
                                  <span>#0000012345</span>
                              </td>
                              <td><span>-</span></td>
                              <td><span>Richard Davidson</span></td>
                              <td><span>Oct 31, 2018</span><span>10:30 AM</span></td>
                              <td><span>Ongoing</span></td>
                              <td><span>Club Limo,</span><span>SBA 1234A</span></td>
                              <td>
                                  <div class="ved">
                                      <ul>
                                          <li>
                                              <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                          </li>
                                          <li>
                                              <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Assign</a>
                                          </li>
                                      </ul>
                                  </div>
                              </td>
                          </tr>

                      </tbody> -->
                    <tbody class="tbody"></tbody>
                </table>
            </div>

        </div>

    </div>
    </div>
