﻿
@{
    ViewBag.Title = "AddJob";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@using (Html.BeginForm())
{
    <div id="admin_job">
        <h2>Add New Job</h2>
        <form>
            <div class="admin_form">
                <div class="admin_form_container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Enter Location</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Select Date</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input class="form-control date datepicker hasDatepicker" type="text" placeholder="dd/mm/yyyy" id="dp1543482951141">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Start Time</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input class="form-control clock" type="text" placeholder="00 : 00 AM">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>End Time</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <input class="form-control clock" type="text" placeholder="00 : 00 AM">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Select Driver</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>John</option>
                                            <option>Ethan</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label>Select Client</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>Dave</option>
                                            <option>Philips</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="row">
                                <div class="col-sm-7 col-sm-offset-5">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input type="reset" value="Discard" class="btn_cancel">
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="submit" value="save" class="btn_submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
}
