﻿
@{
                /**/

                ViewBag.Title = "BookingDetails";
                Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@using (Html.BeginForm())
{
    <h2>BookingDetails</h2>
    <form>
        This page is under progress
    </form>
}

