﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <h2>Dashboard</h2>
        </div>
    </div>

    <div class="dashboard">
        <div class="content-wrapper" style="margin-left: 0px;">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="box box-body">
                            <h6 class="mb-0">
                                <span class="text-uppercase">BOOKING RECEIVED</span>
                                <span class="float-right"><a class="btn btn-xs btn-primary" href="#">View</a></span>
                            </h6>
                            <br>
                            <small>Todays Booking</small>
                            <p class="font-size-26">51,642</p>
                            <div class="progress progress-xxs mt-0 mb-10">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 35%; height: 4px;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="box box-body">
                            <h6 class="mb-0">
                                <span class="text-uppercase">COMPLETED BOOKINGS</span>
                                <span class="float-right"><a class="btn btn-xs btn-primary" href="#">View</a></span>
                            </h6>
                            <br>
                            <small>Completed Rides</small>
                            <p class="font-size-26">50,000</p>
                            <div class="progress progress-xxs mt-0 mb-10">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 75%; height: 4px;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="box box-body">
                            <h6 class="mb-0">
                                <span class="text-uppercase">PENDING BOOKINGS</span>
                                <span class="float-right"><a class="btn btn-xs btn-primary" href="#">View</a></span>
                            </h6>
                            <br>
                            <small>Pending Rides</small>
                            <p class="font-size-26">1,642</p>
                            <div class="progress progress-xxs mt-0 mb-10">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 55%; height: 4px;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="box box-body">
                            <h6 class="mb-0">
                                <span class="text-uppercase">YEARLY SALES</span>
                                <span class="float-right"><a class="btn btn-xs btn-primary" href="#">View</a></span>
                            </h6>
                            <br>
                            <small>Yearly Income</small>
                            <p class="font-size-26">$81,642k</p>
                            <div class="progress progress-xxs mt-0 mb-10">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 52%; height: 4px;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-4">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Booking by Users Type</h4>
                            </div>
                            <div class="box-body">
                                <div class="text-center py-20">
                                    <div class="donut" data-peity='{ "fill": ["#193725", "#4f9c3a", "#A2C037"], "radius": 120, "innerRadius": 80  }'>8952,7458,3254</div>
                                </div>
                                <ul class="list-inline">
                                    <li class="flexbox mb-5">
                                        <div>
                                            <span class="badge badge-dot badge-lg mr-1" style="background:#193725;"></span>
                                            <span style="color:#193725;">Corporate</span>
                                        </div>
                                        <div style="color:#193725;">8952</div>
                                    </li>
                                    <li class="flexbox mb-5">
                                        <div>
                                            <span class="badge badge-dot badge-lg mr-1" style="background:#4f9c3a;"></span>
                                            <span style="color:#4f9c3a;">Bankers</span>
                                        </div>
                                        <div style="color:#4f9c3a;">7458</div>
                                    </li>
                                    <li class="flexbox">
                                        <div>
                                            <span class="badge badge-dot badge-lg mr-1" style="background:#A2C037;"></span>
                                            <span style="color:#A2C037;">Individuals</span>
                                        </div>
                                        <div style="color:#A2C037;">3254</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-12 col-lg-4">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Booking by Cars</h4>
                            </div>
                            <div class="box-body">
                                <div class="text-center py-20">
                                    <div class="donut" data-peity='{ "fill": ["#193725", "#4f9c3a", "#A2C037"], "radius": 120, "innerRadius": 80  }'>452,350,110</div>
                                </div>
                                <ul class="list-inline">
                                    <li class="flexbox mb-5">
                                        <div>
                                            <span class="badge badge-dot badge-lg mr-1" style="background:#193725;"></span>
                                            <span style="color:#193725;">Luxury</span>
                                        </div>
                                        <div style="color:#193725;">452</div>
                                    </li>
                                    <li class="flexbox mb-5">
                                        <div>
                                            <span class="badge badge-dot badge-lg mr-1" style="background:#4f9c3a;"></span>
                                            <span style="color:#4f9c3a;">Sedan</span>
                                        </div>
                                        <div style="color:#4f9c3a;">350</div>
                                    </li>
                                    <li class="flexbox">
                                        <div>
                                            <span class="badge badge-dot badge-lg mr-1" style="background:#A2C037;"></span>
                                            <span style="color:#A2C037;">Mini</span>
                                        </div>
                                        <div style="color:#A2C037;">110</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-lg-4 col-xs-12">
                        <!-- AREA CHART -->
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Booking Overview</h4>
                            </div>
                            <div class="box-body">
                                <ul class="list-inline text-right mt-10 mr-10">
                                    <li>
                                        <h5 class="mb-0"><i class="fa fa-circle mr-5 text_dark"></i>Corporate</h5>
                                    </li>
                                    <li>
                                        <h5 class="mb-0"><i class="fa fa-circle mr-5 text_normal"></i>Bankers</h5>
                                    </li>
                                    <li>
                                        <h5 class="mb-0"><i class="fa fa-circle mr-5 text_light"></i>Individuals</h5>
                                    </li>
                                </ul>
                                <div id="morris-area-chart2" style="height: 324px;"></div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-12 col-lg-9">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Earning by User Type</h4>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-9">
                                        <div class="chart" id="bar-chart" style="height: 278px;"></div>
                                    </div>
                                    <div class="col-xs-12 col-lg-3">
                                        <h3 class="text-center mb-15">User Type Revenue</h3>
                                        <div class="progress-group">
                                            <span class="progress-text">Corporate</span>
                                            <span class="progress-number"><b>$700</b></span>
                                            <div class="progress sm">
                                                <div class="progress-bar progress-bar-info" style="width: 70%"></div>
                                            </div>
                                        </div>
                                        <!-- /.progress-group -->
                                        <div class="progress-group">
                                            <span class="progress-text">Banker</span>
                                            <span class="progress-number"><b>$400</b></span>
                                            <div class="progress sm">
                                                <div class="progress-bar progress-bar-danger" style="width: 75%"></div>
                                            </div>
                                        </div>
                                        <!-- /.progress-group -->
                                        <div class="progress-group">
                                            <span class="progress-text">Individuals</span>
                                            <span class="progress-number"><b>$250</b></span>
                                            <div class="progress sm">
                                                <div class="progress-bar progress-bar-success" style="width: 50%"></div>
                                            </div>
                                        </div>
                                        <!-- /.progress-group -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-md-3">
                                        <div class="description-block border-right">
                                            <span class="text-success"><i class="fa fa-caret-up"></i> <span class="countnm per">17</span></span>
                                            <h5 class="description-header">$3,249.43</h5>
                                            <span class="description-text">TOTAL REVENUE</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-xs-6 col-md-3">
                                        <div class="description-block border-right">
                                            <span class="text-warning"><i class="fa fa-caret-left"></i> <span class="countnm per">70</span></span>
                                            <h5 class="description-header">$2,376.90</h5>
                                            <span class="description-text">TOTAL COST</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-xs-6 col-md-3">
                                        <div class="description-block border-right">
                                            <span class="text-primary"><i class="fa fa-caret-up"></i> <span class="countnm per">80</span></span>
                                            <h5 class="description-header">$1,795.53</h5>
                                            <span class="description-text">TOTAL PROFIT</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-xs-6 col-md-3">
                                        <div class="description-block">
                                            <span class="text-danger"><i class="fa fa-caret-down"></i> <span class="countnm per">28</span></span>
                                            <h5 class="description-header">1800</h5>
                                            <span class="description-text">GOAL COMPLETIONS</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-3">
                        <div class="box box-inverse bg_normal">
                            <div class="box-header no-border">
                                <h6>Last 10 Days Sale</h6>
                            </div>
                            <div class="box-body">
                                <div class="flexbox">
                                    <div id="barchart4"></div>
                                    <div>
                                        <h3 class="countnm mb-5">44145</h3>
                                        <p class="mb-0">USD</p>
                                        <p class="text-fade"><small>Earned</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-inverse bg_normal">
                            <div class="box-header no-border">
                                <h6>Last 10 Days Booking</h6>
                            </div>
                            <div class="box-body">
                                <div class="flexbox">
                                    <div id="linearea3"></div>
                                    <div>
                                        <h3 class="countnm mb-5">412</h3>
                                        <p class="mb-0">Booking made</p>
                                        <p class="text-fade"><small> in last 10 days</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="flexbox flex-justified text-center bg-info mb-30 pull-up">
                            <div class="no-shrink py-30">
                                <span class="fa fa-car font-size-50"></span>
                            </div>
                            <div class="py-30 bg-white text-dark">
                                <div class="font-size-30 countnm">2064</div>
                                <span>Cars</span>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="flexbox flex-justified text-center bg-warning mb-30 pull-up">
                            <div class="no-shrink py-30">
                                <span class="fa fa-user font-size-50"></span>
                            </div>
                            <div class="py-30 bg-white text-dark">
                                <div class="font-size-30 countnm">1738</div>
                                <span>Drivers</span>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="flexbox flex-justified text-center bg-success mb-30 pull-up">
                            <div class="no-shrink py-30">
                                <span class="fa fa-users font-size-50"></span>
                            </div>
                            <div class="py-30 bg-white text-dark">
                                <div class="font-size-30 countnm">1100</div>
                                <span>Clients</span>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="flexbox flex-justified text-center bg-cyan mb-30 pull-up">
                            <div class="no-shrink py-30">
                                <span class="fa fa-building font-size-50"></span>
                            </div>
                            <div class="py-30 bg-white text-dark">
                                <div class="font-size-30 countnm">64</div>
                                <span>Registered Companies</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
}